<div class="row object_file" id="object_file_<%=file.id%>">
  <div class="span3"><%= file.filename %> (<%= number_to_human_size(file.size) %>)</div>
  <div class="span6">
    <%= text_field_tag("file_label[#{file.id}]", file.label) -%>
    <%=link_to '<i class="icon-trash"></i>'.html_safe, object_file_path(file),:method=>:delete,:remote=>true, :confirm=>'Are you sure? Once deleted, you cannot recover this file.',:class=>'btn delete-file'%>
  </div>
</div>
