<%- document = item %>
    <div class="document <%= render_document_class document %>">

      <% # header bar for doc items in index view -%>
      <div class="documentHeader clearfix">
        <h5>
        <%= link_to document.main_title, document.to_model %>
        </h5>

      </div>


      <%= render_document_partial document, :thumbnail %>
  <dl>
  <dt>Object Type</dt>
  <dd><%= document.object_type.capitalize %> / <%= document.first(Solrizer.solr_name('item_type', :displayable)).to_s.capitalize %></dd>
  <dt>Depositor</dt>
  <dd><%= document.depositor %></dd>
  <dt>Collection</dt>
  <dd><%= link_to document.collection_title, hydrus_collection_path(document.collection_id) %></dd>
  <dt>Object Status</dt>
  <dd><%= document.object_status.capitalize %></dd>
  </dl>
    </div>