<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <p><%= @returned_by %> has returned the <%=@document_fedora.object_type%> <%= @document_fedora.title %> in the Stanford Digital Repository.</p>
    <p>To edit and resubmit this <%=@document_fedora.object_type%>, follow this link: <%= link_to(polymorphic_path(@document_fedora),:only_path => false, :host => @host) %>.</p>
    <p>If you have any questions about the SDR, send a message to <%= mail_to("sdr-contact@lists.stanford.edu", "sdr-contact@lists.stanford.edu") %>.</p>
  </body>
</html>