<div class="row">
  <%- if flash[:notice] -%>
    <div class="span9 offset3">
      <div class="alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        <%= flash[:notice] %>
      </div>
    </div>
  <%- end -%>
  <%- if flash[:warning] -%>
    <div class="span9 offset3">
      <div class="alert">
        <button class="close" data-dismiss="alert">×</button>
        <%= flash[:warning] %>
      </div>
    </div>
  <%- end -%>
  <%- if flash[:error] -%>
    <div class="span9 offset3">
      <div class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
        <%= flash[:error] %>
      </div>
    </div>
  <%- end -%>
</div>

<%= image_tag "test-version-ribbon.png", :title => "This website is in development and any data you add will be deleted.", :style => "position: absolute; top: 0; left: 0; border: 0;" %>

<h1>Stanford Digital Repository &ndash; Self-Deposit</h1>

<%-# display home page with different layout -%>
<%= render_contextual_layout %>
