<tr class="document <%= cycle("even","odd") %>">

  <td><%= link_to document.main_title, document.path %></td>
  <td><%= document.object_type.capitalize %></td>
  <td><%= document.depositor %></td>
  <td><%= document.object_status.capitalize %></td>

</tr>
