<div class="user-collections">

  <%- if @collections.blank? -%>
    <h3>No active collections</h3>
    <br/>

  <%- else -%>
    <h3>Your Active Collections (<%=@collections.size%>)</h3>
 	   <%= render :partial=>'collection_dashboard',:locals=>{:collections=>@collections}%>
	<% end %>
</div>

<div id="new-collections">
  <form class="form-horizontal">
    <% if can?(:create_collections, Hydrus::Collection) %>
      <%= link_to(
            "Create a new collection",
            new_polymorphic_path(Hydrus::Collection),
            :class => 'btn',
						:disable_with=>'Please wait...',
            :disable_after_click=>'true')  %>
    <% end %>
  </form>
</div>

<% if Hydrus::Authorizable.can_act_as_administrator(current_user) %>
<hr />
	<h3>Administrator Information - App version <%= Hydrus::Application.config.app_version %></h3>

	<div class="collection-items">
	  <%- if @all_collections.blank? -%>
	    <h3>No collections</h3>
	    <br/>
	  <%- else -%>
	    <h4><a href="#" id="show_all_collections">Show All Collections (<%=@all_collections.size%>)</a></h4>
	 	<div class="hidden" id="all_collections">
			<%= render :partial=>'collection_dashboard',:locals=>{:collections=>@all_collections}%>
		</div>
	</div>
	<% end %>
<% end %>
