<div class="user-collections">
  <%- if @collections.blank? -%>
    <h3>No active collections</h3>
    <br/>
  <%- else -%>
    <h3>Your active collections</h3>
    <table class="hydrus-striped-table table-striped table-condensed">
      <thead>
        <tr>
          <th class="title">Collection</th>
          <th class="journal">Your roles</th>
          <th class="deposited">Collection items</th>
        </tr>
      </thead>
      <tbody>
      <% @collections.each do |c| %>
        <tr>
          <td><%= link_to(c.title, polymorphic_path(c)) %></td>
          <td>
            <%=
              rs = c.roles_of_person(current_user.to_s)
              Hydrus::Responsible.roles_for_ui(rs).join(', ')
            %>
          </td>
          <td>
            <%= pluralize(c.hydrus_items.size, 'item')%>:
            <%= c.item_counts.collect {|state,num| "#{num} #{state}"}.join(', ') %>
          </td>
        </tr> 
        <% end %>
      </tbody>
    </table>
  <%- end -%>
  <form class="form-horizontal">
    <% if can? :create, Hydrus::Collection %>
      <%= link_to(
            "Create a new collection", 
            new_polymorphic_path(Hydrus::Collection),
            :class => 'btn')  %>
      <% end %>
  </form>
</div>
