<div class="user-collections">
  <%- if @collections.blank? -%>
    <h3>No active collections</h3>
    <br/>
  <%- else -%>
    <h3>Your Active Collections</h3>
    <table class="hydrus-striped-table table-striped table-condensed">
      <thead>
        <tr>
          <th class="title">Collection</th>
          <th class="journal">Your roles</th>
          <th class="deposited">Collection Items</th>
          <th class="deposited">Item Status</th>
        </tr>
      </thead>
      <tbody>
      <% @collections.each do |c| %>
        <tr>
          <td><%= item_title_link(c) %></td>
          <td>
            <%=
              rs = c.roles_of_person(current_user.to_s)
              Hydrus::Responsible.roles_for_ui(rs).join(', ').downcase
            %>
          </td>
					<td>
						<% if c.hydrus_items.size == 0 %>
						 	no items yet
						<% else %>
							<%= link_to pluralize(c.hydrus_items.size, 'item'), polymorphic_path([c, :items])%>
          	<% end %>
					</td>
          <td>
            <%= c.item_counts_with_labels.map { |n, lab| "#{n} #{lab}" }.join('; ') %>
          </td>
        </tr> 
        <% end %>
      </tbody>
    </table>
  <%- end -%>
  <form class="form-horizontal">
    <% if can?(:create_collections, Hydrus::Collection) %>
      <%= link_to(
            "Create a new collection", 
            new_polymorphic_path(Hydrus::Collection),
            :class => 'btn', 
						:"disable-after-click"=>'true')  %>
    <% end %>
  </form>
</div>
