<%- @page_title = application_name -%>

<%- if current_user %>
  <div class="row dashboard">
    <div class="col-md-7">
      <%= render :partial=>'home_intro' %>
    </div>
    <div class="col-md-4 offset1 promotion logged-in">
      <%# Only show Contact the SDR button if current user cannot create collections %>
      <% if !Hydrus::Authorizable.can_create_collections(current_user) %>
        <%= render :partial=>'contact_sdr' %>
      <% end %>
      <%= render :partial=>'home_more_info' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="dashboard">
      <%= render :partial=>'home_dashboard' %>
    </div>
  </div>
<%- else -%>
  <div class="row">
    <div class="col-md-7" id="home_text">
      <%= render :partial=>'home_intro' %>
      <%= render :partial=>'home_text' %>
    </div>
    <div class="col-md-4 offset1 promotion">
      <%= render :partial=>'home_promotion_links' %>
      <%= render :partial=>'home_more_info' %>
    </div>
  </div>
<%- end -%>

<%# removed search box pending decision about if and how we will enable searching %>
<%#= render :partial=>'search_form' %>
