<%- if current_user.is_a?(WebAuthUser) -%>
  Already authenticated via WebAuth. Please <%= link_to("sign out", webauth_logout_path) %> in order to login as a local user.
<%- else -%>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="modal-body">    
      <div class="row signin-form">
        <div class="span2 signin-fields">
          <fieldset>
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, :tabindex => '1' %>
          </fieldset>
          <fieldset>
            <%= f.label :password do %> Password 
              <%- if devise_mapping.recoverable? %>
              <span>
                <%= link_to "Forgot?", new_password_path(resource_name) %>
              </span>
              <% end -%>
            <% end -%>
            <%= f.password_field :password, :tabindex => '2' %>
          </fieldset>
          <%= f.submit "Sign in", :class=>"btn signin-submit", :tabindex => '3' %>
          <fieldset class="remember-me">
            <%= f.check_box :remember_me, :tabindex => '4' %>
            <%= f.label :remember_me %>
          </fieldset>
        </div>
        <div class="span2 webauth">
          <%= link_to("Sign in via WebAuth", webauth_login_path(:referrer => params[:referrer]), :class => 'btn', :tabindex => '5') %>
          <p class="help">One-click sign in if you are currently authenticated through a Stanford site.</p>
        </div>
      </div>
  <% end %>
<%- end -%>
