<div class="destroy-set">
  <div class="row actor">
    <div class="span9">
      <%= label :hydrus_collection, :"apo_person_roles_#{index}_id", "SUNet ID:" %>
      <%= text_field_tag :"hydrus_collection[apo_person_roles][#{index}][id]", person %>
      <%= label :hydrus_collection, :"apo_person_roles_#{index}_role", "is" %>
      <%= select_tag(
            :"hydrus_collection[apo_person_roles][#{index}][role]",
            options_for_select(Hydrus::AdminPolicyObject.roles, role)) %>
      <%= link_to(
            '<i class="icon-trash"></i>'.html_safe,
            destroy_hydrus_collection_actor_path(:actor_id => person, :type => "actor", :role => role),
            :class => "delete-node btn",
            :id => "remove_#{person}_#{role}") %>
    </div>
  </div>
</div>
