<% isopen = @fobj.is_open %>

<div class="collection-actions panel-heading">
  <h3 class="panel-title">Actions</h3>
</div>

<div class="panel-body">
  <% if can? :edit, @fobj %>
  <!-- Open/close. -->
    <% if isopen %>
      <p>
        <%= button_to "Close Collection",
                      close_collection_path(@fobj),
                      id: 'hydrus_collection_close',
                      class: 'btn btn-default save-edits',
                      disable_with: "Please wait...",
        							show_loading_indicator: "true" %>
      </p>
    <% elsif @fobj.is_openable %>
      <p>
        <%= button_to "Open Collection",
                      open_collection_path(@fobj),
                      id: 'hydrus_collection_open',
                      class: 'btn btn-default save-edits',
                      disable_with: "Please wait...",
        							show_loading_indicator: "true" %>
      </p>
    <% else %>
      <!-- <%= "#{isopen.inspect} #{@fobj.is_openable} #{@fobj.inspect}" %> -->

    <% end %>
  <% end %>

  <!-- Create item. -->
  <% if can? :create_items_in, @fobj %>
    <% message = @fobj.is_openable ?
                 "To add items, you must open the collection." :
                 "To add items, you must fill in all required fields and open the collection."
    %>
    <div class="btn-group" <%=raw "data-placement=\"bottom\" rel=\"tooltip\" data-original-title=\"#{message}\"" unless isopen%>>
      <button class="<%="disabled" unless isopen%> btn btn-default dropdown-toggle" data-toggle="dropdown">
        Add new item &hellip; <span class="caret"></span>
      </button>
      <%= render "shared/add_content_options" %>
    </div>
    <noscript>
			<% if @fobj.is_open %>
	      <%= form_tag new_hydrus_item_path,
                     method: "GET",
                     class: "add-content-options" do %>
				  <%= hidden_field_tag(:collection,@fobj.id)%>
	        <%= select_tag "type",
        	               options_for_select(@fobj.item_types.to_a),
        	               class: "add-content-options" %>
	        <%= submit_tag("Add new item", class: "btn btn-default", show_loading_indicator: "true" ) %>
	      <% end %>
		  <% else %>
		  	<%= message %>
			<% end %>
    </noscript>
  <% end %>

  <!-- Delete. -->
  <% if can?(:edit, @fobj) && @fobj.is_destroyable %>
      <p style="display:none;" id="discard-item" class="discard-item">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <%= link_to('Discard this collection',
                    @fobj, :method=>:delete,
                    :confirm => delete_confirm_msg(@fobj)) %>
      </p>
      <noscript>
        <p class="discard-item">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <%= link_to('Discard this collection',
                      discard_collection_confirmation_path(@fobj)) %>
        </p>
      </noscript>
  <% end %>

</div>
