<ul class="nav nav-pills">
  <li<%= " class='active'" if params[:action] == "show" %>><%= link_to("View Collection", polymorphic_path(@document_fedora)) %></li>
  <% if can?(:edit,@document_fedora) %>
		<li<%= " class='active'" if ["edit", "update"].include?(params[:action]) %>><%= link_to("Edit Collection", edit_polymorphic_path(@document_fedora)) %></li>
  <% end %>
	<li<%= " class='active'" if params[:controller] == "hydrus_items" %>><%= link_to("Items", polymorphic_path([@document_fedora, :items])) %></li>
  <li<%= " class='active'" if params[:controller] == "events" %>><%= link_to("History", polymorphic_path([@document_fedora, :events])) %></li>
</ul>
