<ul class="nav nav-pills">

  <li<%= " class='active'" if params[:action] == "show" %>>
    <%= link_to("View Collection", polymorphic_path(@fobj)) %>
  </li>

  <% if can?(:edit, @fobj) %>
    <li<%= " class='active'" if ["edit", "update"].include?(params[:action]) %>>
      <%= link_to("Edit Collection", edit_polymorphic_path(@fobj)) %>
    </li>
  <% end %>

  <li<%= " class='active'" if params[:controller] == "hydrus_items" %>>
    <%= link_to("Items", polymorphic_path([@fobj, :items])) %>
  </li>

  <li<%= " class='active'" if params[:controller] == "events" %>>
    <%= link_to("History", polymorphic_path([@fobj, :events])) %>
  </li>

  <% if can?(:view_datastreams, @fobj) %>
    <li<%= " class='active'" if params[:controller] == "datastreams" %>>
      <%= link_to("Datastreams", polymorphic_path([@fobj, :datastreams])) %>
    </li>
  <% end %>

</ul>
