<div class="destroy-set">
  <div class="related-item form-group">
    <%= label :hydrus_collection, :"related_item_title_#{index}", "Link title", class: 'col-sm-2' %>
    <div class="col-sm-10">
      <div class="input-group">
        <%= text_field_tag :"hydrus_collection[related_item_title[#{index}]]", hydrus_strip(@fobj.related_item_title[index.to_i]), class: 'form-control' %>
        <span class="input-group-btn">
          <%= link_to destroy_hydrus_collection_value_path(term: "relatedItem", term_index: index, type: "related_item"),
                      class: "delete-node btn btn-default ",
                      id: "remove_relatedItem_#{index}" do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </span>
      </div>
    </div>
  </div>
  <div class="related-item form-group">
    <%= label :hydrus_collection, :"related_item_url_#{index}", "URL", class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= text_field_tag :"hydrus_collection[related_item_url[#{index}]]", hydrus_strip(@fobj.related_item_url[index.to_i]), class: 'form-control' %>
    </div>
  </div>
</div>
