<%- @page_title = "Editing '#{@document_fedora.title.first}' - #{application_name}" -%>
<%- object_type = @document_fedora.object_type -%>
<%- sidebar_items << capture do -%>
  <div class="well actions-box" id="collection-actions">
    <fieldset>
      <legend class="box-header">Actions</legend>
      <button type="submit" class="btn btn-small save-edits" name="save" id="save">Save</button>
      <label class="checkbox">
        <input type="checkbox" name="terms" id="terms" /> Name, description, contact provided
      </label>
      <button type="submit" class="btn btn-small save-edits" disabled="disabled" name="open_collection" id="save">Open Collections</button>
      <div class="btn-group">
        <button class="btn btn-small" disabled="disabled">Add and add &hellip;</button>
        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown" disabled="disabled">
          <span class="caret"></span>
        </button>
        <%= render :partial => "shared/add_content_options", :locals => {:parent => @document_fedora} %>
      </div>
      <p class="discard-item"><i class="icon-trash"></i> <a href="#">Discard this <%= object_type %></a></p>
    </fieldset>
  </div>
<%- end -%>

<div class="row">
  <div class="span9">
		<%=render :partial=>'shared/navigation' %>
  </div>
</div>
<%= form_for(@document_fedora, :method => 'PUT', :html => {:class => "step"}) do |f| -%>
  <%= hydrus_form_header(:required=>true, :first=>true) {"Name, description, contact"} %>
  <div class="row">
    <%= hydrus_form_label do %>
      <%= f.label :title, "Collection name" %>
    <%- end -%>
    <%= hydrus_form_value do %>
      <%= f.text_field :title, :value => @document_fedora.title.first %>
    <%- end -%>
  </div>
  <div class="row">
    <%= hydrus_form_label do %>
      <%= f.label :abstract, "Description" %>
    <%- end -%>
    <%= hydrus_form_value(:class=>"short-textarea") do %>
      <%= f.text_area :abstract, :value => @document_fedora.abstract.first %>
    <%- end -%>
  </div>
  <div class="row">
    <%= hydrus_form_label do %>
      Contact email
    <%- end -%>
    <%= hydrus_form_value do %>
      <%= f.text_field :contact, :value => @document_fedora.contact %>
    <%- end -%>
  </div>
  
  <%= hydrus_form_header {"Links to related information"} %>
  <div id="related-items" class="destroy-group">
    <%= render "related_items" %>
  </div>
  <div class="row">
    <div class="span8 offset1">
      <%= button_tag("Add another link", :name=>"add_link", :"data-attribute" => "add_link", :id=>"add_link", :class=>"btn", :value=>@document_fedora.related_items.length) %>
    </div>
  </div>  

  <%= hydrus_form_header {"Release and visibility of content"} %>
  <div id="content-visibility" class="destroy-group">
    <p>Content in SDR is intended to be shared. You can impose a delay (embargo) before
    content in this collection is released for public or Stanford-only discovery
    and download.</p>

    <%= hydrus_form_value do %>
      <% embargo_types.each do |emb_opt, emb_text| %>
        <%= f.radio_button 'embargo_option', emb_opt %>
        <%= f.label        'embargo_option', emb_text, :value => emb_text %>
      <% end %>
    <% end %>

    <%= hydrus_form_value do %>
      <%# NOTE: was unable to get this working as a pulldown %>
      <%#= select_tag :embargo, options_for_select(embargo_terms, @document_fedora.embargo) -%>
      <%= f.text_field :embargo, :value => @document_fedora.embargo %>
    <% end %>

    After its release date, content in this collection can be discovered and downloaded by:

    <%= hydrus_form_value do %>
      <% release_types.each do |rel_opt, rel_text| %>
        <%= f.radio_button 'release_option', rel_opt %>
        <%= f.label        'release_option', rel_text, :value => rel_text %>
      <% end %>
    <% end %>

  </div>

  <%= hydrus_form_header {"License"} %>
  <div id="license" class="destroy-group">
    <p>After its release date, items in this collections can be discovered and downloaded by:</p>
    <%= hydrus_form_value do %>
      <% license_types.each do |lic_opt, lic_text| %>
        <%= f.radio_button 'license_option', lic_opt %>
        <%= f.label        'license_option', lic_text, :value => lic_text %>
      <% end %>
    <% end %>

    <%# TODO: convert to drop-down, conditional on radio button choice %>
    <%= hydrus_form_value do %>
      <%= f.text_field :license, :value => @document_fedora.license %>
    <%- end -%>
  </div>

  <%= hydrus_form_header {"Allow others to contribute to this collection"} %>
  <div id="role-management" class="destroy-group">
    <font color=red>#TODO partial for role management</font>
  </div>

  <% render(
       :partial => "hydra/permissions/index", 
       :locals  => { :document => @document_fedora, :asset_id => params[:id] }
     )
  %>
  <noscript>
    <button type="submit" class="btn btn-small save-edits" name="save" id="save">Save</button>    
    <button type="submit" class="btn btn-small" id="publish" name="publish" disabled="disabled">Publish</button>
  </noscript>
<% end %>
<div id="druid-footer"><%= @document_fedora.pid %></div>
