<%- @page_title = "Editing '#{@document_fedora.title}' - #{application_name}" -%>
<%- object_type = @document_fedora.object_type -%>
<%= form_for(@document_fedora, :method => 'PUT', :html => {:class => "step"}) do |f| -%>

<%- sidebar_items << capture do -%>
	<%= render :partial => "actions_box", :locals => {:f=>f, :id=>"js"}%>
<%- end -%>

<div class="row">
  <div class="span9">
		<%=render :partial=>'shared/navigation' %>
  </div>
</div>
  <%= hydrus_form_header(:required=>true, :first=>true) {"Name, description, contact"} %>
  <div class="row">
    <%= hydrus_form_label do %>
      <%= f.label :title, "Collection name" %>
    <%- end -%>
    <%= hydrus_form_value do %>
      <%= f.text_field :title, :value => @document_fedora.title || "" %>
    <%- end -%>
  </div>
  <div class="row">
    <%= hydrus_form_label do %>
      <%= f.label :abstract, "Description" %>
    <%- end -%>
    <%= hydrus_form_value(:class=>"short-textarea") do %>
      <%= f.text_area :abstract, :value => @document_fedora.abstract || "" %>
    <%- end -%>
  </div>
  <div class="row">
    <%= hydrus_form_label do %>
      Contact email
    <%- end -%>
    <%= hydrus_form_value do %>
      <%= f.text_field :contact, :value => @document_fedora.contact || ""%>
    <%- end -%>
  </div>
  
  <%= hydrus_form_header {"Links to related information"} %>
  <div id="related-items" class="destroy-group">
    <%= render "related_items" %>
  </div>
  <div class="row">
    <div class="span8 offset1">
      <%= button_tag("Add another link", :name=>"add_link", :"data-attribute" => "add_link", :id=>"add_link", :class=>"btn", :value=>@document_fedora.related_items.length) %>
    </div>
  </div>  

  <%= hydrus_form_header {"Release and visibility of content"} %>
  <div id="content-visibility">
    <p>Content in SDR is intended to be shared. You can impose a delay (embargo) before
    content in this collection is released for public or Stanford-only discovery
    and download.</p>

    <div class="row radio-select-group" >
      <%= hydrus_form_value do %>
        <% embargo_types.each do |emb_opt, emb_text| %>
          <div class="row radio-select-option">
            <div class="span1 radio-input">
              <%= f.radio_button 'embargo_option', emb_opt %>
            </div>
            <div class="span7 radio-label">
              <%= f.label        'embargo_option', emb_text, :value => emb_opt %>
              <%# Don't include embargo period select if embargo type is 'none' %>
              <% unless emb_opt == 'none' %>
                <%= f.select "embargo_#{emb_opt}".to_sym, options_for_select(embargo_terms, @document_fedora.send("embargo_#{emb_opt}")), {:include_blank => 'Select embargo'}, {:class => 'inline-select right', :id => "embargo_option_#{emb_opt}" } %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <p class="form-section-para">After its release date, content in this collection can be discovered and downloaded by:</p>
    <div class="row">
      <%= hydrus_form_value do %>
        <% visibility_types.each do |vis_opt, vis_text| %>
          <div class="row">
            <div class="span1 radio-input">
              <%= f.radio_button 'visibility_option', vis_opt, :class => 'radio-group' %>
            </div>
            <div class="span7 radio-label">
              <%= f.label        'visibility_option', vis_text, :value => vis_opt, :class => 'radio-group' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

  <%= hydrus_form_header {"License"} %>
  <div id="license">
    <p>After its release date, items in this collections can be discovered and downloaded by:</p>
    <div class="row">
      <%= hydrus_form_value do %>
        <% license_types.each do |lic_opt, lic_text| %>
          <div class="row">
            <div class="span1 radio-input">
              <%= f.radio_button 'license_option', lic_opt, :class => 'radio-group' %>
            </div>
            <div class="span7 radio-label">
              <%= f.label        'license_option', lic_text, :value => lic_opt, :class => 'radio-group' %>
            </div>
          </div>
        <% end %>
      <% end %>

      <%# TODO: convert to drop-down, conditional on radio button choice %>
      <%= hydrus_form_value do %>
        <%= f.text_field :license, :value => @document_fedora.license %>
      <%- end -%>
    </div>
  </div>

  <%= hydrus_form_header {"Allow others to contribute to this collection"} %>
  <div id="role-management">
	  <%= render "role_management"%>
  </div>

  <% render(
       :partial => "hydra/permissions/index", 
       :locals  => { :document => @document_fedora, :asset_id => params[:id] }
     )
  %>
  <noscript>
    <button type="submit" class="btn btn-small save-edits" name="save" id="save">Save</button>    
    <button type="submit" class="btn btn-small" id="publish" name="publish">Publish</button>
  </noscript>
<% end %>
<div id="druid-footer"><%= @document_fedora.pid %></div>
