<%- @page_title = "#{@document_fedora.title} - #{application_name}" -%>

<% sidebar_items << capture do %>

    <div class="well actions-box collection-settings">
      <div class="box-header">Collection Settings</div>
      <dl class="dl-horizontal">
        <dt>
          <%= pluralize(@document_fedora.collection_owner.length, 'Owner').gsub(/^\d+\s/, "") %>:
        </dt>
        <% if @document_fedora.collection_owner.length > 0 %>
          <% @document_fedora.collection_owner.each do |cm| %>
            <dd><%= cm %></dd>
          <% end %>
        <!-- TODO: remove else component once we have default collection owner -->
        <% else %>
          <dd><span class="unspecified">not specified</span></dd>
        <% end %>
        <dt>Embargo:</dt>
        <dd><%= hydrus_object_setting_value(@document_fedora.embargo_option) %>
          <% if @document_fedora.embargo %>
            <%= @document_fedora.embargo %>
          <% end %>
        </dd>
        <dt>Visibility:</dt>
        <dd><%= hydrus_object_setting_value(@document_fedora.visibility_option_value) %></dd>
        <dt>License:</dt>
        <dd><%= hydrus_object_setting_value(@document_fedora.license_option) %>
          <% if @document_fedora.license %>
            <%= @document_fedora.license %>
          <% end %>
        </dd>
        <dt>User's status:</dt>
        <dd><font color=red>#TODO</font></dd>
        <dt>Collection status:</dt>
        <dd><%= @document_fedora.deposit_status %></dd>
      </dl>
    </div>

    <div class="well actions-box collection-actions">
      <div class="box-header">What you can do</div>
      <p><%= link_to("Edit collection settings",edit_polymorphic_path(@document_fedora, :viewing_context => 'edit'),
              :class => 'edit toggle') %></p>
				<%= form_for(@document_fedora, :method => 'PUT', :html => {:class => "step", :novalidate=>""}) do |f| -%>
					<% if @document_fedora.is_open %>
            <p>
              <button type="submit" class="btn btn-small save-edits"
                      name="hydrus_collection[publish]" value="false"
                      id="hydrus_collection_publish">Close Collection</button>
            </p>
					<% elsif @document_fedora.is_publishable %>
				  	<p><button type="submit" class="btn btn-small save-edits" name="hydrus_collection[publish]" value="true" id="hydrus_collection_publish">Open Collection</button></p>
					<% else %>
							<p>To open the collection, you must fix the following:
								<%
								errors = []
					      @document_fedora.errors.messages.each do |field, error|
					        errors << "<li class='errors'>#{field.to_s.humanize.capitalize} #{error.join}</li>"
					      end
								%>
								<%="<ul>#{errors.join}</ul>".html_safe%>
						  </p>
					<%
					end
				end %>

		    <% if @document_fedora.is_destroyable %>
					<p class="discard-item"><i class="icon-trash"></i> <a href="#">Discard <%=@document_fedora.object_type%></a></p>
		    <% elsif !@document_fedora.is_published && @document_fedora.has_items  %>
					<p class="discard-item"><i class="icon-trash"></i> Cannot	discard collection because it contains items.</p>		
				<% end %>
			<% if @document_fedora.is_open %>
	      <form class="form-horizontal">
	        <div class="btn-group">
	          <button class="btn btn-small">Add new &hellip;</button>
	          <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
	            <span class="caret"></span>
	          </button>
	          <%= render :partial => "shared/add_content_options", :locals => {:parent => @document_fedora} %>
	        </div>
	      </form>
			 <% end %>
    </div>
		
<%- end -%>

<div>

  <span class="edit-browse">
        <%=render :partial=>'shared/navigation' %>
  </span>

  <dl class="dl-horizontal object-view">

    <h3><%= hydrus_object_setting_value(@document_fedora.title) %></h3>

    <dt>Description</dt>
    <dd><%= hydrus_object_setting_value(@document_fedora.abstract) %></dd>

    <dt>Contact</dt>
    <dd><%= hydrus_object_setting_value(@document_fedora.contact) %></dd>

		<% unless hydrus_is_empty?(@document_fedora.related_items) %>
	    <%- @document_fedora.related_items.each_with_index do |related_item, index| -%>
	      <dt class="<%= 'hidden-label' if index > 0 %>">Related links</dt>
	      <dd>&raquo; <%= related_item.url.blank? ? hydrus_object_setting_value(related_item.url) : link_to(related_item.title, related_item.url) %></dd>
	    <%- end -%>
		<% end %>

<!--     <dt>APO PID </dt>
    <dd><%= @document_fedora.apo.pid %></dd> -->

  </dl>

  <% unless @document_fedora.hydrus_items.size == 0 %>
    <div class="collection-items">
      <h4>In this collection</h4>
      <table class="hydrus-striped-table table-striped table-condensed">
        <thead>
          <tr>
            <th class="title">Title</th>
            <th class="depositor">Depositor</th>
            <th class="type">Type</th>
            <th class="status">Status</th>
            <th class="date">Date added</th>
          </tr>
        </thead>
        <tbody>
          <!-- iterate through collection items  -->
          <!-- Can use Hydrus::Item.milestones.last to get status. Speak with Lynn. -->
          <% @document_fedora.hydrus_items.each do |item| %>
            <tr class="document <%= cycle("even","odd") %>">
              <td><%= item_title_link(item) %></td>
              <td><%= item.item_depositor_name %></td>
              <td><font color=red><%= item.object_type %></font></td>
              <td><font color=red>#TODO</font></td>
              <td><%= hydrus_format_date(item.submit_time) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <%= render(:partial => 'shared/events') %>

  <div id="druid-footer"><%= @document_fedora.pid %></div>

</div>
