<%- @page_title = "#{@document_fedora.title} - #{application_name}" -%>

<% sidebar_items << capture do %>

    <div class="well actions-box collection-settings">
      <div class="box-header">Collection Settings</div>
      <dl class="dl-horizontal">
        <dt>Owner:</dt>
        <dd><%= @document_fedora.collection_manager %></dd>
        <dt>Embargo:</dt>
        <dd><%= @document_fedora.embargo %></dd>
        <dt>Visibility:</dt>
        <dd><%= @document_fedora.visibility %></dd>
        <dt>License:</dt>
        <dd><%= @document_fedora.license %></dd>
        <dt>User's status:</dt>
        <dd><font color=red>#TODO</font></dd>
      </dl>
    </div>

    <div class="well actions-box collection-actions">
      <div class="box-header">What you can do</div>
      <p><%= link_to("Edit collection settings", "#") %></p>
      <form class="form-horizontal">
        <div class="btn-group">
          <button class="btn btn-small">Add new &hellip;</button>
          <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <%= render :partial => "shared/add_content_options", :locals => {:parent => @document_fedora} %>
        </div>
      </form>
    </div>

<%- end -%>

<div>

  <span class="edit-browse">
        <%=render :partial=>'shared/navigation' %>
  </span>

  <dl class="dl-horizontal object-view">

    <h3><%= @document_fedora.title %></h3>

    <dt>Description</dt>
    <dd><%= @document_fedora.abstract.first %></dd>

    <dt>Contact</dt>
    <dd><%= @document_fedora.contact %></dd>

    <%- @document_fedora.related_items.each_with_index do |related_item, index| -%>
      <dt class="<%= 'hidden-label' if index > 0 %>">Related links</dt>
      <dd>&raquo; <%= link_to(related_item.title, related_item.url) %></dd>
    <%- end -%>

<!--     <dt>APO PID </dt>
    <dd><%= @document_fedora.apo.pid %></dd> -->

  </dl>

  <% unless @document_fedora.hydrus_items.size == 0 %>
    <div class="collection-items">
      <h4>In this collection</h4>
      <table class="hydrus-striped-table table-striped table-condensed">
        <thead>
          <tr>
            <th class="title">Title</th>
            <th class="depositor">Depositor</th>
            <th class="type">Type</th>
            <th class="status">Status</th>
            <th class="date">Date added</th>
          </tr>
        </thead>
        <tbody>
          <!-- iterate through collection items  -->
          <!-- Can use Hydrus::Item.milestones.last to get status. Speak with Lynn. -->
          <% @document_fedora.hydrus_items.each do |item| %>
            <tr class="document <%= cycle("even","odd") %>">
              <td><%= link_to(item.title, polymorphic_path(item)) %></td>
              <td><font color=red>#TODO</font></td>
              <td><font color=red><%= item.object_type %></font></td>
              <td><font color=red>#TODO</font></td>
              <td><%= hydrus_format_date(item.submit_time) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <div id="druid-footer"><%= @document_fedora.pid %></div>

</div>
