<%- @page_title = "#{@document_fedora.title} - #{application_name}" -%>

<%- sidebar_items << capture do -%>

<div class="well actions-box collection-settings">
	
			<%=render :partial=>'status_box' %>

 			<%=render :partial=>'actions_box_show' %>

</div>

<%- end -%>
<div>
  <span class="edit-browse">
        <%=render :partial=>'shared/navigation' %>
  </span>

  <dl class="dl-horizontal object-view">

    <h3><%= hydrus_object_setting_value(@document_fedora.title) %></h3>
		<h4 class="muted">Collection Settings</h4>

    <dt>Owner</dt>
    <dd><%= @document_fedora.collection_owner%></dd>

    <dt>Contact</dt>
    <dd><%= hydrus_object_setting_value(@document_fedora.contact) %></dd>

    <dt>Description</dt>
    <dd><%= hydrus_object_setting_value(@document_fedora.abstract) %></dd>



<!--     <dt>APO PID </dt>
    <dd><%= @document_fedora.apo.pid %></dd> -->

  </dl>

 <div class="collection-items">
     <h4>Links to related information</h4>
	<% unless hydrus_is_empty?(@document_fedora.related_items) %>
    <%- @document_fedora.related_items.each_with_index do |related_item, index| -%>
      <dd>&raquo; <%= related_item.url.blank? ? hydrus_object_setting_value(related_item.url) : link_to(related_item.title, related_item.url) %></dd>
    <%- end -%>
	<% end %>
</div>

<div class="collection-items">
     <h4>Release and visibility of content</h4>
  <p>
		<%if @document_fedora.embargo_option == 'none' %>
		There is no delay before content in this collection is released for public or Stanford-only discovery and download.
	<% else %>
		The delay before content in this collection is released for public or Stanford-only discovery and download
			<strong>
			<% if @document_fedora.embargo_option == 'varies' %>
				varies per item
			<% else %>
				is fixed
			<% end %>
			from time of deposit to <%=@document_fedora.embargo%> after deposit.</strong>
	<% end %>
	</p>
	
	<p>
	<%if @document_fedora.embargo_option == 'none' %>
		Upon release
	<% else %>
		After its release date,
	<% end %>
	content in this collection can be discovered and downloaded by 
		<% if @document_fedora.visibility == 'stanford' %>
			<strong>the Stanford community -- all items will be visible only to Stanford-authenticated users.</strong>
		<% elsif @document_fedora.visibility == 'everyone' %>
		  <strong>anyone -- all items will be visible to everybody, including non-Stanford users.</strong>
		<% else %>
			<strong>anyone -- but individual items may restrict visibility to members of the Stanford community.</strong>
		<% end %>
	</p>
	<% if to_bool(@document_fedora.requires_human_approval) %>
		<p>Before being released, content in this collection <strong>must be</strong> approved by the collection manager or a reviewer.</p>
	<% end %>
</div>

<div class="collection-items">
     <h4>License</h4>
   <p>
		<%if @document_fedora.embargo_option == 'none' %>
			Upon release
		<% else %>
			After its release date,
		<% end %>
		items in this collection are covered by the following license terms:</p>
		
		<p>
		<% if @document_fedora.license_option == 'none' %>
		  No license
		<% else %>
			<% if @document_fedora.license_option == 'varies' %>
				A default license -- the license below applies to items in this collection by default, but can be changed for each item.
			<% else %>
				A required license -- the license below applies to all items in the collection.
			<% end %>
		</p>
			<p><%=license_image(@document_fedora.license)%> <%=license_link(@document_fedora.license)%></p>
		<% end %>
</div>

<div class="collection-items">
     <h4>Other contributors to this collection</h4>
			<dl class="dl-horizontal object-view">
				<% Hydrus::AdminPolicyObject.roles.each do |key,value| %>
	       <tr class="document <%= cycle("even","odd") %>">
					<dt><%=value%></dt>
					<% people = @document_fedora.apo.persons_with_role(key) %>
			    <dd><%= people.size == 0 ? "none" : people.join(',') %></dd>
				<% end %>
			</dl>
</div>

  <% unless @document_fedora.hydrus_items.size == 0 %>
    <div id="items" class="collection-items">
      <h4>In this collection</h4>
      <table class="hydrus-striped-table table-striped table-condensed">
        <thead>
          <tr>
            <th class="title">Title</th>
            <th class="depositor">Depositor</th>
            <th class="type">Type</th>
            <th class="status">Status</th>
            <th class="date">Date added</th>
          </tr>
        </thead>
        <tbody>
          <!-- iterate through collection items  -->
          <!-- Can use Hydrus::Item.milestones.last to get status. Speak with Lynn. -->
          <% @document_fedora.hydrus_items.each do |item| %>
            <tr class="document <%= cycle("even","odd") %>">
              <td><%= item_title_link(item) %></td>
              <td><%= item.item_depositor_name %></td>
              <td><font color=red><%= item.object_type %></font></td>
              <td><font color=red>#TODO</font></td>
              <td><%= hydrus_format_date(item.submit_time) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <%= render(:partial => 'shared/events') %>

  <div id="druid-footer"><%= @document_fedora.pid %></div>

</div>
