<%=render :partial=>'shared/set_page_title' %>

<%- sidebar_items << capture do -%>

<div class="well actions-box collection-settings">

      <div id="status-box"><%=render :partial=>'status_box' %></div>

       <div id="actions-box"><%=render :partial=>'actions_box_show' %></div>

</div>

<%- end -%>
<div>
  <span class="edit-browse">
        <%=render :partial=>'navigation' %>
  </span>

  <div id="object-content-wrapper">
    <h3><%= title_text(@fobj) %></h3>
    <h4 class="muted">Collection Details</h4>
    <dl class="dl-horizontal collection-view">
      <%= render "hydrus_collections/basic_collection_metadata" %>

    </dl>

    <% unless hydrus_is_empty?(@fobj.related_items) %>
     <div class="collection-items">
         <h4>Links to related information</h4>
          <%- @fobj.related_items.each_with_index do |related_item, index| -%>
            <dd>&raquo; <%= related_item.url.blank? ? hydrus_object_setting_value(related_item.url) : link_to(related_item.title, related_item.url) %></dd>
          <%- end -%>
    </div>
    <% end %>

    <div class="collection-items">
         <h4>Release and visibility of content</h4>
      <p>
        <%if @fobj.embargo_option == 'none' %>
        There is <strong>no delay</strong> before content in this collection is released for public or Stanford-only discovery and download.
      <% else %>
        The delay before content in this collection is released for public or Stanford-only discovery and download
          <strong>
          <% if @fobj.embargo_option == 'varies' %>
            varies per item
          <% else %>
            is fixed
          <% end %>
          from time of deposit to <%=@fobj.embargo_terms%> after deposit.</strong>
      <% end %>
      </p>

      <p>
      <%if @fobj.embargo_option == 'none' %>
        Upon release
      <% else %>
        After its release date,
      <% end %>
      content in this collection can be discovered and downloaded by
        <% if @fobj.visibility == 'stanford' %>
          <strong>the Stanford community -- all items will be visible only to Stanford-authenticated users.</strong>
        <% elsif @fobj.visibility == 'everyone' %>
          <strong>anyone -- all items will be visible to everybody, including non-Stanford users.</strong>
        <% else %>
          <strong>anyone -- but individual items may restrict visibility to members of the Stanford community.</strong>
        <% end %>
      </p>
      <% if to_bool(@fobj.requires_human_approval) %>
        <p>Before being released, content in this collection <strong>must be</strong> approved by the collection manager or a reviewer.</p>
      <% end %>
    </div>

    <div class="collection-items">

      <h4>Terms of Use and Licenses</h4>

      <p>
        The following Terms of Use will be displayed with each item published in
        this collection:
        <%= '"' + @fobj.terms_of_use + '"' %>
      </p>

      <p>
        <%if @fobj.embargo_option == 'none' %>
           Upon release
        <% else %>
           After its release date,
        <% end %>
        items in this collection are covered by the following license terms:
      </p>

      <p>
        <% if @fobj.license_option == 'none' %>
           No license
        <% else %>
          <% if @fobj.license_option == 'varies' %>
            A default license -- the license below applies to items in this collection by default, but can be changed for each item.
          <% else %>
            A required license -- the license below applies to all items in the collection.
          <% end %>
        <% end %>
      </p>

      <p>
        <%=license_image(@fobj.license)%>
        <%=license_link(@fobj.license)%>
      </p>

    </div>

    <div class="collection-items">
         <h4>Collection participants</h4>
          <dl class="dl-horizontal collection-view">
            <% Hydrus::Responsible.role_labels(:only_labels,:collection_level).each do |role, role_label| %>
             <tr class="document <%= cycle("even","odd") %>">
              <% people = @fobj.apo.persons_with_role(role) %>
              <dt><%= role_label.pluralize(people.size) %></dt>
              <dd><%= people.size == 0 ? "none" : people.to_a.join(', ') %></dd>
            <% end %>
          </dl>
    </div>

  </div> <!-- object-content-wrapper -->
    <div id="druid-footer"><%= @fobj.pid %></div>
</div>

