<div class="well actions-box collection-actions">
  <div class="box-header">Actions</div>
  <div class="box-body">

    <!-- Approve/disapprove. -->
    <% if @fobj.is_awaiting_approval && can?(:review, @fobj) %>

      <!-- Disapprove. -->
      <%= form_tag(disapprove_item_path(@fobj)) do -%>
      <p>
        <%= label_tag("hydrus_item_disapproval_reason",
                      "Reason for return",
                      :class => "return-item") %>
        <%= text_field_tag("hydrus_item_disapproval_reason",
                           @fobj.disapproval_reason,
                           :class => "return-item", :autofocus => true) -%><br />
        <span class="help">Item depositor will be notified by email</span>
      </p>

        <p>
          <%= button_tag(
                "Return",
                :id    => 'hydrus_item_disapprove',
                :class => 'btn btn-small save-edits',
                :disable_with => "Please wait...",
  							:show_loading_indicator=>"true") %>
        </p>

      <% end -%>

			      <!-- Approve. -->
			      <p>
			        <%= button_to(
			              "Approve and Publish",
			              approve_item_path(@fobj),
			              :id    => 'hydrus_item_approve',
			              :class => 'btn btn-small save-edits',
										:confirm => 'You are about to deposit this item to the Stanford Digital Repository. While the deposit is in process, you will not be able to edit the item. Are you sure you want to proceed?',
			              :disable_with => "Please wait...",
			  						:show_loading_indicator=>"true") %>
			      </p>

    <!-- Resubmit. -->
    <% elsif @fobj.is_returned && can?(:edit, @fobj) %>
      <p>
        <strong>Return reason:</strong>
        <%= @fobj.disapproval_reason %>
      </p>
      <p>
        <%= button_to(
              "Resubmit for Approval",
              resubmit_item_path(@fobj),
              :id    => 'hydrus_item_resubmit',
              :class => 'btn btn-small save-edits',
              :disable_with => "Please wait...",
  						:show_loading_indicator=>"true") %>
      </p>

    <!-- Submit for Approval. -->
    <% elsif @fobj.is_submittable_for_approval && can?(:edit, @fobj)%>
      <p>
        <%= button_to(
              "Submit for Approval",
              submit_for_approval_item_path(@fobj),
              :id    => 'hydrus_item_submit_for_approval',
              :class => 'btn btn-small save-edits',
							:confirm => 'You are about to deposit this item to the Stanford Digital Repository. While the deposit is in process, you will not be able to edit the item. Are you sure you want to proceed?',
              :disable_with => "Please wait...",
  						:show_loading_indicator=>"true") %>
      </p>

    <!-- Publish directly (applies only to items not requiring approval by reviewer). -->
    <% elsif @fobj.is_publishable_directly && can?(:edit, @fobj) %>
      <p>
        <%= button_to(
              "Publish",
              publish_directly_item_path(@fobj),
              :id    => 'hydrus_item_publish_directly',
              :class => 'btn btn-small save-edits',
							:confirm => 'You are about to deposit this item to the Stanford Digital Repository. While the deposit is in process, you will not be able to edit the item. Are you sure you want to proceed?',
              :disable_with => "Please wait...",  
							:show_loading_indicator=>"true") %>
      </p>

    <!-- Open new version. -->
    <% elsif @fobj.is_accessioned && can?(:edit, @fobj) %>
      <p>
        <%= button_to(
              "Open new version",
              open_new_version_item_path(@fobj),
              :id    => 'hydrus_item_open_new_version',
              :class => 'btn btn-small save-edits',
              :disable_with => "Please wait...",
							:show_loading_indicator=>"true" ) %>
      </p>

    <% end %>

    <!-- Terms of deposit. -->
    <p class="popup-link">
      <i class="icon-share"></i>
      <% tod_path = terms_of_deposit_path(@fobj) %>
      <%= link_to(
            @fobj.terms_of_deposit_accepted? ?
              "View Terms of Deposit" :
              "View and agree with Terms of Deposit",
            tod_path,
            :target     => '_blank',
            :class      => 'tod_link',
            :"data-url" => "#{tod_path}&from=show"
          )
      %>
    </p>

    <!-- Share PURL. -->
    <p class="popup-link"><span style="display:none" id="share-purl"><i class="icon-envelope"></i> <a href="#" id="share-purl-link">Share link to this item</a></span>
    <div id="copy-purl-link-area">
      <%= form_tag(send_purl_email_path, :remote => true,  :target => '_new' ) %>
      <p>Copy item link:   <%= text_field_tag "copy-purl-link", @fobj.purl_url, :readonly=>true %></p>
      <p>Email item link to:
        <%= hidden_field_tag "pid", @fobj.pid %>
        <%= text_field_tag "recipients" %>
        <%= submit_tag("Send Email",:class => 'btn btn-small', :id => 'hydrus_item_send_purl_email') %>
        </p>
    </div>
    </p>

    <!-- Delete link  -->
    <% if can?(:edit, @fobj) && @fobj.is_destroyable %>
        <p style="display:none;" id="discard-item" class="discard-item">
          <i class="icon-trash"></i>
          <%= link_to('Discard this item', 
                      @fobj, :method=>:delete, 
                      :confirm => delete_confirm_msg(@fobj)) %>
        </p>
        <noscript>
          <p class="discard-item">
            <i class="icon-trash"></i>
            <%= link_to('Discard this item',
                        discard_item_confirmation_path(@fobj)) %>
          </p>
        </noscript>
    <% end %>

  </div>
</div>
