<%- c = @fobj.collection -%>
<dt>Online at</dt>
<dd>
  <% if @fobj.purl_page_ready? %>
    <%= link_to(@fobj.purl_url, @fobj.purl_url) %>
  <% else %>
    <span class="muted"><%= @fobj.purl_url %></span>
  <% end %>
</dd>

<dt>In collection</dt>
<dd><%= link_to(c.title, polymorphic_path(c)) %></dd>

<dt>Deposited by</dt>
<dd><%= @fobj.item_depositor_id %></dd>

<dt>Contact at</dt>
<dd><%= @fobj.contact.blank? ? hydrus_object_setting_value(@fobj.contact) : mail_to(@fobj.contact) %></dd>

<dt>Created on</dt>
<dd><%= HyTime.datetime_display(@fobj.create_date) %></dd>

<dt>Last saved on</dt>
<dd><%= HyTime.datetime_display(@fobj.last_modify_time) %></dd>

<% if to_bool(@fobj.requires_human_approval) %>
  <dt>Submitted for approval</dt>
  <dd><%= HyTime.datetime_display(@fobj.submit_for_approval_time) %></dd>
<% end %>

<% if @fobj.is_published %>
  <dt><%= to_bool(@fobj.requires_human_approval) ? "Approved" : "Published"%> on</dt>
  <dd><%= HyTime.datetime_display(@fobj.publish_time) %></dd>
<% end %>
