<%- c = @document_fedora.collection -%>
<dt>Collection</dt>
<dd><%= link_to(c.title, polymorphic_path(c)) %></dd>

<dt>Submitted by</dt>
<dd><%= @document_fedora.item_depositor_id %></dd>

<dt>Submitted on</dt>
<dd><%= hydrus_format_date(@document_fedora.create_date) %></dd>

<dt>PURL</dt>
<dd>
<% if @document_fedora.is_published
		if @document_fedora.purl_page_ready? %>
			<%= link_to(@document_fedora.purl_url, @document_fedora.purl_url) %>
		<% else %>
			 <%= @document_fedora.purl_url%>
			<p class="help">URL not operational yet - item is still processing</p>
		<% end %>
<% else %>
	<%= @document_fedora.purl_url%>
	<p class="help">URL not operational since item is not published</p>
<% end %>
</dd>

<dt>Contact email</dt>
<dd><%= @document_fedora.contact.blank? ? hydrus_object_setting_value(@document_fedora.contact) : mail_to(@document_fedora.contact) %></dd>
