<%- coll = @fobj.collection -%>

<dd>
  <% if @fobj.purl_page_ready? %>
    <dt>Online at</dt>
    <dd>
      <%= link_to(@fobj.purl_url, @fobj.purl_url) %>
    </dd>
  <% else %>
    <dt>Will be online at</dt>
    <dd>
      <span class="muted"><%= @fobj.purl_url %></span>
    </dd>
  <% end %>
</dd>

<dt>In collection</dt>
<dd><%= link_to(coll.title, polymorphic_path(coll)) %></dd>

<dt>Deposited by</dt>
<dd><%= @fobj.item_depositor_id %></dd>

<dt>Contact at</dt>
<dd><%= @fobj.contact.blank? ? hydrus_object_setting_value(@fobj.contact) : mail_to(@fobj.contact) %></dd>

<dt>Version</dt>
<dd><%= "#{@fobj.version_tag}" %></dd>

<dt>Item created</dt>
<dd><%= HyTime.datetime_display(@fobj.create_date) %></dd>

<dt>Version started</dt>
<dd><%= HyTime.datetime_display(@fobj.version_started_time) %></dd>

<dt>Last saved</dt>
<dd><%= HyTime.datetime_display(@fobj.last_modify_time) %></dd>

<% if to_bool(@fobj.requires_human_approval) %>
  <% sfat = HyTime.datetime_display(@fobj.submit_for_approval_time) %>
  <dt>Submitted for approval</dt>
  <dd><%= hydrus_object_setting_value(sfat, :na => true) %></dd>
<% end %>

<% if @fobj.is_published %>
  <% pt = HyTime.datetime_display(@fobj.publish_time) %>
  <dt>Published</dt>
  <dd><%= hydrus_object_setting_value(pt, :na => true) %></dd>
<% end %>

<% unless @fobj.is_initial_version %>
  <% pt = HyTime.datetime_display(@fobj.initial_publish_time) %>
  <dt>Initial ver. published</dt>
  <dd><%= hydrus_object_setting_value(pt, :na => true) %></dd>
<% end %>
