<ul class="nav nav-pills">
  <li<%= " class='active'" if params[:action] == "show" %>><%= link_to(view_item_text(@document_fedora), polymorphic_path(@document_fedora)) %></li>
  <% if show_item_edit(@document_fedora) %>
    <li<%= " class='active'" if ["edit", "update"].include?(params[:action]) %>><%= link_to(edit_item_text(@document_fedora), edit_polymorphic_path(@document_fedora)) %></li>
  <% end %>
  <li<%= " class='active'" if params[:controller] == "events" %>><%= link_to("History", polymorphic_path([@document_fedora, :events])) %></li>
</ul>
