<%- title = defined?(node) ? node.at_css('titleInfo title').content : "" -%>
<%- url = defined?(node) ? node.at_css("identifier").content : "" -%>
<div class="row related-item">
  <%= hydrus_form_label do  %>
    <%= label_tag("asset[descMetadata][relatedItem_titleInfo_title][#{index}]", "Link title") %>
  <%- end -%>
  <%= hydrus_form_value do -%>
    <%= text_field_tag("asset[descMetadata][relatedItem_titleInfo_title][#{index}]", title) %>
  <%- end -%>
</div>
<div class="row related-item">
  <%= hydrus_form_label do  %>
    <%= label_tag("asset[descMetadata][relatedItem_identifier][#{index}]", "URL") %>
  <%- end -%>
  <%= hydrus_form_value do -%>
    <%= text_field_tag("asset[descMetadata][relatedItem_identifier][#{index}]", url) %>
  <%- end -%>
</div>