<%=render :partial=>'shared/set_page_title', :locals=>{:action=>"Editing"} %>


<%= form_for @fobj, method: 'PUT',
                    html: { id: 'edit_form',
                            class: "step form-horizontal",
                            multipart: true,
                            :"data-track-state-change" => "true",
                            novalidate: "" } do |f| %>

  <% sidebar_items << capture do %>
    <div class="panel panel-default actions-box" id="collection-actions">
      <%= render "status_box"%>
      <%= render "actions_box_edit", f: f, id: 'js' %>
    </div>
  <% end %>


<div class="row">
  <div class="col-sm-9">
    <%= render 'navigation' %>
  </div>
</div>
<div id="object-content-wrapper">
  <h3><%= title_text(@fobj) %></h3>
  <h4 class="text-muted">Item Details</h4>

  <%= hidden_field_tag("object_id", params[:id]) %>

  <div class='section-header first-header'>
    <h4>Title and contact <span class='label label-danger required'>required</span></h4>
  </div>

	<p>Enter the item title and a single contact email address to be published with the item.</p>
  <% object_type = @fobj.object_type %>
  <div class="form-group">
    <%= f.label :title, "Title of #{object_type}", class: 'col-sm-2' %>

    <div class="col-sm-10">
      <%= f.text_area :title, value: (@fobj.title || ""), :cols=>'100%', required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :contact, "Contact email", class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= text_field_tag :"hydrus_item[contact]", (@fobj.contact || ""), required: true, class: 'form-control' %>
    </div>
  </div>

  <div class='section-header'>
    <h4>Authors and Contributors <span class='label label-danger required'>required</span></h4>
  </div>

  <div class="form-group contributor-select destroy-group">
    <p>
      Enter the name(s) of people, organizations or events responsible for producing the item.  Enter a personal name as &quot;LastName, FirstName&quot; or &quot;LastName, FirstName MiddleName&quot;. For example: &quot;Stanford, Jane Lathrop&quot;.
    </p>
    <%= render "contributors" %>
  </div>

  <div class='section-header'>
    <h4>Date <span class='label label-danger required'>required</span></h4>
  </div>
  <p>
    Enter either a single date or a date range below that best describes when the content of this item was created. The date value(s) must be formatted as <b>YYYY</b> or <b>YYYY-MM</b> or <b>YYYY-MM-DD</b>.<br>
    Select "Approximate" if an exact date value is not known.
  </p>

  <div class="radio-select-option">
    <%= f.label "dates_date_type_single" do %>
      <%= radio_button_tag(:"hydrus_item[dates[date_type]]","single",@fobj.dates[:single], {:class => "date_radio", :onclick => "$(\".dates input\").prop('disabled', true); $(\".single_date input\").prop('disabled', false)"})%>Single Date<br>

      <div class="col-sm-12 dates single_date">
        <div class="date_div">
         <%= text_field_tag("hydrus_item[dates[date_created]]",  @fobj.dates[:date_created], required: true, class: 'form-control date_input_short') %>
         <%= check_box_tag("hydrus_item[dates[date_created_approximate]]", "hi", @fobj.dates[:date_created_approximate])%>
         <%= label_tag("hydrus_item[dates[date_created_approximate]]" ,"Approximate") %>
        </div>
      </div>
    <% end %>
  </div>


  <div class="radio-select-option">
    <%= f.label "dates_date_type_range" do %>
      <%=radio_button_tag(:"hydrus_item[dates[date_type]]","range",@fobj.dates[:range], {:class => "date_radio", :onclick => "$(\".dates input\").prop('disabled', true); $(\".date_range input\").prop('disabled', false)"})%>Date Range<br>

      <div class="col-sm-12 dates date_range">
        <div class="date_div">
          <%= text_field_tag("hydrus_item[dates[date_start]]",  @fobj.dates[:date_range_start], required: true, class: 'form-control date_input_short') %>
          <%=check_box_tag("hydrus_item[dates[date_range_start_approximate]]", 'hi', @fobj.dates[:date_range_start_approximate])%>
          <%= label_tag("hydrus_item[dates[date_start_approximate]]","Approximate") %>
        </div>
        <span style="float:left; margin-left:10px;margin-right:10px; vertical-align: top;">To</span>
        <div class="date_div"><%= text_field_tag("hydrus_item[dates[date_range_end]]", @fobj.dates[:date_range_end], required: true, class: 'form-control date_input_short') %>
          <%=check_box_tag("hydrus_item[dates[date_range_end_approximate]]", 'hi', @fobj.dates[:date_range_end_approximate])%>
          <%= label_tag("hydrus_item[dates[date_created_range_approximate]]", "Approximate") %>
        </div>
      </div>
    <% end %>

    <%= f.label "dates_date_type_undated" do %>
      <%= radio_button_tag(:"hydrus_item[dates[date_type]]","undated",@fobj.dates[:undated] , {:class => "date_radio", :onclick => "$(\".dates input\").prop('disabled', true);"})%>Undated: the date of the item is unknown and cannot be approximated.
    <% end %>
  </div>

  <div class='section-header'>
    <h4>Upload file(s) <span class='label label-danger required'>required</span></h4>
  </div>

  <div class="form-group">
    <div class="col-sm-12" id="file-upload">
      <%= render 'file_uploads' %>
    </div>
  </div>

  <div class='section-header'>
    <h4>Abstract and keywords <span class='label label-danger required'>required</span></h4>
  </div>
	<p>Enter a summary statement about the item contents (suggested 600 words maximum).
	Add at least one keyword that relates to the content of the item.</p>

  <div class="form-group">
    <%= f.label :abstract, class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_area :abstract, value: (@fobj.abstract || ""), cols: '100%', required: true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "keywords", "Keywords", class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :keywords, value: @fobj.keywords.join(", "), class: 'form-control' %>
      <div class="help-block">Separate keywords with commas. Include the full name of your Stanford department, school, program, institute, etc. (excluding any commas).</div>
    </div>
  </div>


  <div class='section-header'>
    <h4>Citations</h4>
  </div>
  <p>Provide a bibliographic citation for this item in a format of your preference. Be sure to include the item’s persistent URL: <br /><%=@fobj.purl_url%> </p>

  <div class="form-group">
    <%= f.label :preferred_citation, "Preferred citation for this #{object_type}", class: "hidden-sm col-sm-2" %>
    <%= f.label :preferred_citation, "Cite this #{object_type}", class: "visible-sm col-sm-2" %>

    <div class="col-sm-10">
      <%= f.text_area :preferred_citation, value: hydrus_strip(@fobj.preferred_citation), class: 'form-control' %>
      <div class="help-block">
			 <a href="#" id="use_default_citation" class="showOnLoad hidden">Use default citation</a>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :"related_citation_0", "Related published work", class: 'col-sm-2' %>
    <div class="col-sm-10">
      <div id="related-citations" class="destroy-group">
        <%= render "related_citations" %>
      </div>
      <div class="help-block">
        Enter a citation for one or more other publications, such as a journal article, directly related to this item.
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-1">
      <%= button_tag "Add another related work", name: "add_related_citation", :"data-attribute" => "add_related_citation", id: "add_related_citation", class: "btn btn-default", value: @fobj.related_citation.length %>
    </div>
  </div>


  <div class='section-header'>
    <h4>Links to related content</h4>
  </div>

  <div id="related-items" class="destroy-group">
    <%= render "related_items" %>
  </div>
  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-1">
      <%= button_tag "Add another link", name: "add_link", :"data-attribute" => "add_link", id: "add_link", class: "btn btn-default", value: @fobj.related_items.length %>
    </div>
  </div>

  <div class='section-header'>
    <h4>Release and visibility of content <span class='label label-danger required'>required</span></h4>
  </div>

  <!-- Embargo -->
  <div class="form-group embargo">
    <div class="col-sm-9 sub-section">
      <% if @fobj.embargo_can_be_changed %>
        This item will be released for discovery and download
        <div data-behavior="radio-disable-group" class="embargo-section">
          <%= radio_button_tag 'hydrus_item[embarg_visib][embargoed]',
                               "no",
                               !@fobj.is_embargoed,
                               :"data-control-element" => "#hydrus_item_embarg_visib_date",
                               :"data-control-disable" => "true" %>
          <%= f.label :embargo_immediate, "immediately" %>
          <%= radio_button_tag 'hydrus_item[embarg_visib][embargoed]',
                               "yes",
                               @fobj.is_embargoed,
                               :"data-control-element" => "#hydrus_item_embarg_visib_date",
                               :"data-control-disable" => "false" %>
          <%= f.label :embargo_future, "on this date" %>
          <%= text_field_tag(
                'hydrus_item[embarg_visib][date]',
                HyTime.date_display(@fobj.embargo_date),
                :"data-behavior"    => "datepicker",
                :"data-date-format" => HyTime::DATE_PICKER_FORMAT,
                :"data-start-date"  => HyTime.date_display(HyTime.now_datetime),
                :"data-end-date"    => HyTime.date_display(@fobj.end_of_embargo_range),
                :class              => "datepicker") %>
        </div>
      <% elsif @fobj.is_embargoed %>
        This item will be released for discovery and download
        <span class="highlight-value">
          <%= HyTime.datetime_display(@fobj.embargo_date) + '.' %>
        </span>
      <% else %>
        This item will be released for discovery and download
        <span class="highlight-value">
          as soon as it is published.
        </span>
      <% end %>
    </div>
  </div>

  <!-- Visiblity -->
  <div class="form-group">
    <div class="col-sm-9">
      After its release, this item can be downloaded and discovered by
      <% if @fobj.visibility_can_be_changed %>
        <%= select_tag(
              'hydrus_item[embarg_visib][visibility]',
              options_for_select(Hydrus::Item.discovery_roles.to_a, @fobj.visibility)) %>
      <% else %>
        <span class="highlight-value">
          <%= @fobj.visibility == ['world'] ? 'anyone.' : 'the Stanford community.'%>
        </span>
      <% end %>
    </div>
  </div>

  <!-- Review release settings -->
  <div class="form-group">
    <div class="col-sm-9 sub-section">
      <span>
        <br />
        <input type="checkbox"
               <%="checked disabled" if to_bool(@fobj.reviewed_release_settings)%>
               name="hydrus_item[reviewed_release_settings]"
               value="true" id="release_settings" />
        I have reviewed the release and visibility settings above.
      </span>
    </div>
  </div>

  <!-- Terms of deposit -->
  <div class='section-header'>
    <h4>Terms of Deposit <span class='label label-danger required'>required</span></h4>
  </div>
  <div class="form-group">
    <div class="col-sm-9 sub-section">
      <span>
        <br />
        <input type="checkbox"
               <%="checked disabled" if to_bool(@fobj.terms_of_deposit_accepted?)%>
               name="hydrus_item[terms_of_deposit_checkbox]"
               value="true" id="terms_of_deposit_checkbox" /> I have read and agree to the SDR
					     <% tod_path = terms_of_deposit_path(@fobj) %>
					      <%= link_to(
					            "Terms of Deposit",
					            tod_path,
					            :target     => '_blank',
					            :class      => 'tod_link',
					            :"data-url" => "#{tod_path}&from=edit"
					          )
					      %>      </span>
    </div>
  </div>

  <!-- Terms of use and license -->

  <div class='section-header'>
    <h4>Terms of Use and Licenses
    <% if @fobj.licenses_can_vary %>
      <span class='label label-danger required'>required</span>
    <% end %>
    </h4>
  </div>

  <div class="form-group">
    <div class="col-sm-9 sub-section">
      <p>
        The following Terms of Use will be displayed with this item when published:
        <%= in_quotes(@fobj.terms_of_use) %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-9">
      <% if @fobj.licenses_can_vary %>
        This item will be licensed under
        <%= f.select :license,
                     grouped_options_for_select(Hydrus::GenericObject.license_groups, @fobj.license),
                     {:prompt => 'Select license'},
                     {:class => 'inline-select right' } %>
      <% else %>
        <span class="highlight-value">
          <% lic = Hydrus::GenericObject.license_human(@fobj.license) %>
          <%= hydrus_object_setting_value(lic) %>
        </span>
      <% end %>
    </div>
  </div>

  <!-- Version information -->

  <% unless @fobj.is_initial_version %>

    <div class='section-header'>
      <h4>Information about new version <span class='label label-danger required'>required</span></h4>
    </div>

    <div class="form-group">
      <%= f.label 'Description', class: 'col-sm-2' %>
      <div class="col-sm-10">
        <%= f.text_area(:version_description,
                        value: @fobj.version_description,
                        required: true,
                        class: 'form-control',
                        rows: 3) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Scope of change', class: 'col-sm-2'  %>
      <%= hydrus_form_value do %>
        <% %w(major minor).each do |opt| %>
          <div class="row">
            <div class="col-sm-1 radio-input">
              <%= f.radio_button 'version_significance', opt %>
            </div>
            <div class="col-sm-7 radio-label">
              <%= f.label 'version_significance', opt.capitalize, :value => opt %>
              <% if opt == "minor" %>
                <span class="help-block">
                  <%= "(for example, small text edits)" %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  <% end %>

    <noscript>
      <%= render "actions_box_edit", f: f, id: 'nojs' %>
    </noscript>
  </div> <!-- object-content-wrapper -->
<% end %>

<div id="druid-footer"><%= @fobj.pid %></div>
