<%- @page_title = "Editing '#{@document_fedora.title}' - #{application_name}" -%>
<%- object_type = @document_fedora.object_type -%>
<% sidebar_items << capture do %>
	<%= render :partial => "status_box"%>

  <%= render :partial => "actions_box_edit", :locals => {:id=>"js"}%>
<%- end -%>


<div class="row">
  <div class="span9">
		<%=render :partial=>'navigation' %>
  </div>
</div>
<div id="object-content-wrapper">
  <h3><%= hydrus_object_setting_value(@document_fedora.title) %></h3>
  <h4 class="muted">Item Settings</h4>
<%= form_for(@document_fedora, :method => 'PUT', :html => {:class=>"step", :multipart=>true, :"data-track-state-change"=>"true", :novalidate=>""}) do |f| -%>
  <%= hidden_field_tag("object_id", params[:id]) -%>
  <%= hydrus_form_header(:required=>true, :first=>true) {"Title and contact"} %>
  <div class="row field-group">
    <%= hydrus_form_label do %>
      <%= f.label :title, "Title of #{object_type}" %>
    <%- end -%>
    <%= hydrus_form_value(:class=>"short-textarea") do %>
      <%= f.text_area :title, :value=>(@document_fedora.title || ""), :required => true %>
    <%- end -%>
  </div>
  <div class="row field-group">
    <%= hydrus_form_label do %>
      Contact email
    <%- end -%>
    <%= hydrus_form_value(:class=>"short-textarea") do %>
      <%= text_field_tag :"hydrus_item[contact]", (@document_fedora.contact || ""), :required => true %>
    <%- end -%>
  </div>

  <%= hydrus_form_header(:required=>true) {"People and organizations responsible for this #{object_type}"} -%>
  <div class="row field-group">
    <!-- <%= hydrus_form_label do %> -->
      <!-- <%= f.label :person_0, "People" -%> -->
    <!-- <%- end -%> -->
    <!-- <%= hydrus_form_value(:class=>"people-select destroy-group") do -%> -->
    <div class="span9 people-select destroy-group">
      <%= render "people" %>
    </div>
    <!-- <%- end -%> -->
  </div>

  <%= hydrus_form_header(:required=>true) {"Upload file(s)"} -%>
  <div class="row field-group">
    <div class="span9" id="file-upload">
      <div id="uploaded-files">
        <%- unless @document_fedora.files.blank? -%>
          <%- @document_fedora.files.each do |file| -%>
            <%= render :partial => "object_files/object_file", :locals => {:file => file} %>
          <%- end -%>
        <%- end -%>
      </div>
      <div class="row">
        <div class="span9">
          <%= file_field_tag "files[]", :multiple=>true %>
        </div>    
      </div>
    </div>
  </div>

  <%= hydrus_form_header(:required=>true) {"Abstract and keywords"} -%>
  <div class="row field-group">
    <%= hydrus_form_label do %>
      <%= f.label :abstract %>
    <%- end -%>
    <%= hydrus_form_value do  -%>
      <%= f.text_area :abstract, :value=>(@document_fedora.abstract || ""), :required=>true %>
    <%- end -%>
  </div>
  <div class="row field-group">
    <%= hydrus_form_label do %>
      <%= label_tag("hydrus_item_keywords", "Keywords") %>
    <%- end -%>
    <%= hydrus_form_value do  -%>
      <%= text_field_tag("hydrus_item[keywords]", @document_fedora.keywords.join(", ")) -%>
      <div class="help">separate keywords with commas</div>
    <%- end -%>    
  </div>

  <%= hydrus_form_header {"Citations"} -%>
  <div class="row field-group">
    <%= hydrus_form_label do %>
      <%= f.label :preferred_citation, "Preferred citation for this #{object_type}", :class => "hidden-tablet" %>
      <%= f.label :preferred_citation, "Cite this #{object_type}", :class => "visible-tablet" %>
    <%- end -%>
    <%= hydrus_form_value(:class=>"short-textarea") do  -%>
      <%= f.text_area :preferred_citation, :value=>hydrus_strip(@document_fedora.preferred_citation) %>
    <%- end -%>
  </div>
  <div class="row field-group">
    <%= hydrus_form_label do %>
      <%= f.label :"related_citation_0", "Related published work" %>
    <%- end -%>
    <%= hydrus_form_value(:class=>"short-textarea") do  -%>
      <div id="related-citations" class="destroy-group">
        <%= render "related_citations" %>
      </div>
    <%- end -%>
  </div>
  <div class="row field-group">
    <div class="span8 offset1">
      <%= button_tag("Add another related work", :name=>"add_related_citation", :"data-attribute" => "add_related_citation", :id=>"add_related_citation", :class=>"btn", :value=>@document_fedora.related_citation.length) %>
    </div>
  </div>


  <%= hydrus_form_header {"Links to related content"} -%>
  <div id="related-items" class="destroy-group">
    <%= render "related_items" %>
  </div>
  <div class="row field-group">
    <div class="span8 offset1">
      <%= button_tag("Add another link", :name=>"add_link", :"data-attribute" => "add_link", :id=>"add_link", :class=>"btn", :value=>@document_fedora.related_items.length) %>
    </div>
  </div>

<%= hydrus_form_header{"Release and visibility of content"} %>
  <!-- Embargo -->
  <div class="row embargo field-group">
    <div class="span9 sub-section">
    <% case @document_fedora.collection.embargo_option %>
    <% when 'none' %>
      This item will be released for discovery and download 
      <span class="highlight-value">
        as soon as it is published.
      </span>
    <% when 'varies' %>
      This item will be released for discovery and download 
      <div data-behavior="radio-group" class="embargo-section">
        <%= f.radio_button :embargo, "immediate", :checked => @document_fedora.embargo_date.blank? %> <%= f.label :embargo_immediate, "immediately" %>
        <div data-behavior="radio-option" class="embargo-section">
          <%= f.radio_button :embargo, "future", :checked => !@document_fedora.embargo_date.blank? %> <%= f.label :embargo_future, "on this date" %>
          <%= f.text_field :embargo_date, :"data-behavior" => "datepicker", :"data-start-date" => @document_fedora.beginning_of_embargo_range , :"data-end-date" => @document_fedora.end_of_embargo_range, :class => "datepicker" %>
        </div>
      </div>
    <% when 'fixed' %>
      This item will be released for discovery and download 
      <span class="highlight-value">
        <%= @document_fedora.collection.embargo %>
        after deposit.
      </span>
    <% end %>
</div>
  </div>
  <!-- Visiblity -->
  <div class="row field-group">
    <div class="span9">
    <% case @document_fedora.collection.visibility_option_value %>
    <% when 'everyone' %>
      After its release, this item can be downloaded and discovered by 
      <span class="highlight-value">
        everyone.
        <%= f.hidden_field :visibility, :value => "world" %>
      </span>
    <% when 'varies' %>
      After its release, this item can be downloaded and discovered by 
      <%= f.select :visibility, options_for_select(Hydrus::Item.discovery_roles.to_a, @document_fedora.visibility) %>
    <% when 'stanford' %>
      After its release, this item can be downloaded and discovered by 
      <span class="highlight-value">
        the Stanford community.
        <%= f.hidden_field :visibility, :value => "stanford" %>
      </span>
    <% end %>
    </div>
  </div>
  <div class="row field-group">
    <div class="span9 sub-section">
  <span>
	  <br />
    <input type="checkbox" <%="checked disabled" if to_bool(@document_fedora.reviewed_release_settings)%> name="hydrus_item[reviewed_release_settings]" value="true" id="release_settings" /> I have reviewed the release and visibility settings above.
  </span>
  </div></div>

 <%= hydrus_form_header{"License"} %>
  <div class="row field-group">
    <div class="span9">
    <% case @document_fedora.collection.license_option %>
    <% when 'none' %>
      No license will be applied to this item. All rights reserved by content creator.
    <% when 'varies' %>
      This item will be licensed under 
      <%= f.select :license, grouped_options_for_select(Hydrus::Collection.licenses, @document_fedora.license), {:prompt => 'Select license'}, {:class => 'inline-select right' } %>
    <% when 'fixed' %>
      This work will be licensed under a 
      <span class="highlight-value">
        <%= Hydrus::Collection.license_human(@document_fedora.collection.license) %>
      </span>
    <% end %>
    </div>
  </div>

  <%= hydrus_form_header{"Terms of Use"} %>
  <div class="row field-group">
    <div class="span9">
      People who can discover and download this item will agree to these <a href="#">Terms of Use</a>.
    </div>
  </div>

  <noscript>
    <%= render :partial => "actions_box_edit", :locals => {:id=>"nojs"}%>
  </noscript>
<%- end -%>
</div> <!-- object-content-wrapper --> 
<div id="druid-footer"><%= @document_fedora.pid %></div>
