<%# if !session[:scripts] %>
  <%# render_previous_workflow_steps.html_safe %>
  <%# render_submission_workflow_step -%>
<%# else %>
<div class="row">
  <div class="span9">
    <%= edit_and_browse_links %>
  </div>
</div>
<%= form_for(@document_fedora, :method => 'PUT', :html => {:class=>"step"}) do -%>
  <div class="row">
    <div class="span2 form-label">
      PID:
    </div>
    <div class="span7">
      <%= @document_fedora.pid %>
    </div>
  </div>

  <div class="row">
    <div class="span2 form-label">
      Object type:
    </div>
    <div class="span7">
      <%= @document_fedora.identityMetadata.objectType.join(", ") %>
    </div>
  </div>

  <div class="row section-header">
    <div class="span8">
      <h3>Title</h3>
    </div>
    <div class="span1">
      <div class="required">required</div>
    </div>
  </div>
  <div class="row">
    <div class="span2 form-label">
      <%= fedora_field_label("descMetadata", [:originInfo, :publisher], "Publisher:") %>
    </div>
    <div class="span7">
        <%= fedora_text_area( @document_fedora, "descMetadata", [:originInfo, :publisher], :multiple=>false, :required=>false) %>
    </div>
  </div>

  <div class="row">
    <div class="span2 form-label">
      Title:
    </div>
    <div class="span7">
      <%= @document_fedora.DC.title.first %>
    </div>
  </div>

  <div class="row section-header">
    <div class="span8">
      <h3>Title</h3>
    </div>
    <div class="span1">
      <div class="required">required</div>
    </div>
  </div>
  <div class="row form-horizontal">
    <div class="span2 form-label">
      <%= fedora_field_label("descMetadata", [:abstract], "Abstract:") %>
    </div>
    <div class="span7">
      <%= fedora_text_area( @document_fedora, "descMetadata", [:abstract], :multiple=>false, :required=>false) %>
    </div>
  </div>
  
  <% render(
       :partial => "hydra/permissions/index", 
       :locals  => { :document => @document_fedora, :asset_id => params[:id] }
     )
  %>

    <%# render_all_workflow_steps.html_safe %>

    <div class="all-steps-actions">
      <button id="all_save" name="all_save">Save</button>
      <button id="all_publish" name="all_publish">Publish</button>
    </div>

  <%# end %>

<% end %>

