<%=render :partial=>'shared/set_page_title', :locals=>{:action=>"Editing"} %>

<%- object_type = @fobj.object_type -%>
<% sidebar_items << capture do %>
  <div id="status-box"><%= render :partial => "status_box"%></div>

  <div id="actions-box"><%= render :partial => "actions_box_edit", :locals => {:id=>"js"}%></div>
<%- end -%>


<div class="row">
  <div class="span9">
    <%=render :partial=>'navigation' %>
  </div>
</div>
<div id="object-content-wrapper">
  <h3><%= title_text(@fobj) %></h3>
  <h4 class="muted">Item Details</h4>

<%= form_for(@fobj, :method => 'PUT', :html => {:id=>'edit_form',:class=>"step", :multipart=>true, :"data-track-state-change"=>"true", :novalidate=>""}) do |f| -%>

  <%= hidden_field_tag("object_id", params[:id]) -%>

  <%= hydrus_form_header(:required=>true, :first=>true) {"Title and contact"} %>
	<p>Enter the item title and a contact email address to be published with the item.</p>
  <div class="row field-group">
    <%= hydrus_form_label do %>
      <%= f.label :title, "Title of #{object_type}" %>
    <%- end -%>
    <%= hydrus_form_value(:class=>"short-textarea") do %>
      <%= f.text_area :title, :value=>(@fobj.title || ""), :cols=>'100%', :required => true %>
    <%- end -%>
  </div>

  <div class="row field-group">
    <%= hydrus_form_label do %>
      Contact email
    <%- end -%>
    <%= hydrus_form_value(:class=>"short-textarea") do %>
      <%= text_field_tag :"hydrus_item[contact]", (@fobj.contact || ""), :required => true %>
    <%- end -%>
  </div>

  <%= hydrus_form_header(:required=>true) {"Authors and Contributors"} -%>

  <div class="row field-group">
    <div class="span9 contributor-select destroy-group">
	    <p>
        Enter the name(s) of people, organizations or events responsible for producing the item.
      </p>
      <%= render "contributors" %>
    </div>
  </div>

  <%= hydrus_form_header(:required=>true) {"Upload file(s)"} -%>

  <div class="row field-group">
    <div class="span9" id="file-upload">

		<%= render :partial=>'file_uploads' %>

    </div>
  </div>

  <%= hydrus_form_header(:required=>true) {"Abstract and keywords"} -%>
	<p>Enter a summary statement about the item contents (suggested 600 words maximum).
	Add at least one keyword that relates to the content of the item.</p>

  <div class="row field-group">
    <%= hydrus_form_label do %>
      <%= f.label :abstract %>
    <%- end -%>
    <%= hydrus_form_value do  -%>
      <%= f.text_area :abstract, :value=>(@fobj.abstract || ""), :cols=>'100%',:required=>true %>
    <%- end -%>
  </div>
  <div class="row field-group">
    <%= hydrus_form_label do %>
      <%= label_tag("hydrus_item_keywords", "Keywords") %>
    <%- end -%>
    <%= hydrus_form_value do  -%>
      <%= text_field_tag("hydrus_item[keywords]", @fobj.keywords.join(", ")) -%>
      <div class="help">separate keywords with commas</div>
    <%- end -%>
  </div>

  <%= hydrus_form_header {"Citations"} -%>
<p> Provide a bibliographic citation for this item in a format of your preference. Be sure to include the item’s persistent URL: <br /><%=@fobj.purl_url%>. </p>
  <div class="row field-group">
    <%= hydrus_form_label do %>
      <%= f.label :preferred_citation, "Preferred citation for this #{object_type}", :class => "hidden-tablet" %>
      <%= f.label :preferred_citation, "Cite this #{object_type}", :class => "visible-tablet" %>
    <%- end -%>
    <%= hydrus_form_value(:class=>"short-textarea") do  -%>
      <%= f.text_area :preferred_citation, :value=>hydrus_strip(@fobj.preferred_citation)%>
      <div class="help">
       <strong>Example</strong>: "Stanford, Jane L (1905). The
        efficacy of bicarbonate of soda in the treatment of digestive maladies.
        Stanford Digital Repository. Available at <%= @fobj.purl_url %>."
      </div>
    <%- end -%>
  </div>

  <div class="row field-group">
    <%= hydrus_form_label do %>
      <%= f.label :"related_citation_0", "Related published work" %>
    <%- end -%>
    <%= hydrus_form_value(:class=>"short-textarea") do  -%>
      <div id="related-citations" class="destroy-group">
        <%= render "related_citations" %>
      </div>
      <div class="help">
        Enter a citation for one or more other publications, such as a journal article, directly related to this item.
      </div>
    <%- end -%>
  </div>

  <div class="row field-group">
    <div class="span8 offset1">
      <%= button_tag("Add another related work", :name=>"add_related_citation", :"data-attribute" => "add_related_citation", :id=>"add_related_citation", :class=>"btn", :value=>@fobj.related_citation.length) %>
    </div>
  </div>


  <%= hydrus_form_header {"Links to related content"} -%>

  <div id="related-items" class="destroy-group">
    <%= render "related_items" %>
  </div>
  <div class="row field-group">
    <div class="span8 offset1">
      <%= button_tag("Add another link", :name=>"add_link", :"data-attribute" => "add_link", :id=>"add_link", :class=>"btn", :value=>@fobj.related_items.length) %>
    </div>
  </div>

  <%= hydrus_form_header(:required=>true) {"Release and visibility of content"} %>

  <!-- Embargo -->
  <div class="row embargo field-group">
    <div class="span9 sub-section">
      <% if @fobj.embargo_can_be_changed %>
        This item will be released for discovery and download
        <div data-behavior="radio-disable-group" class="embargo-section">
          <%= radio_button_tag 'hydrus_item[embarg_visib][embargoed]',
                               "no",
                               !@fobj.is_embargoed, 
                               :"data-control-element" => "#hydrus_item_embarg_visib_date",
                               :"data-control-disable" => "true" %> 
          <%= f.label :embargo_immediate, "immediately" %>
          <%= radio_button_tag 'hydrus_item[embarg_visib][embargoed]',
                               "yes",
                               @fobj.is_embargoed,
                               :"data-control-element" => "#hydrus_item_embarg_visib_date", 
                               :"data-control-disable" => "false" %>
          <%= f.label :embargo_future, "on this date" %>
          <%= text_field_tag(
                'hydrus_item[embarg_visib][date]',
                HyTime.date_display(@fobj.embargo_date),
                :"data-behavior"    => "datepicker",
                :"data-date-format" => HyTime::DATE_PICKER_FORMAT,
                :"data-start-date"  => HyTime.date_display(HyTime.now_datetime),
                :"data-end-date"    => HyTime.date_display(@fobj.end_of_embargo_range),
                :class              => "datepicker") %>
        </div>
      <% elsif @fobj.is_embargoed %>
        This item will be released for discovery and download
        <span class="highlight-value">
          <%= HyTime.datetime_display(@fobj.embargo_date) + '.' %>
        </span>
      <% else %>
        This item will be released for discovery and download
        <span class="highlight-value">
          as soon as it is published.
        </span>
      <% end %>
    </div>
  </div>

  <!-- Visiblity -->
  <div class="row field-group">
    <div class="span9">
      After its release, this item can be downloaded and discovered by
      <% if @fobj.visibility_can_be_changed %>
        <%= select_tag(
              'hydrus_item[embarg_visib][visibility]',
              options_for_select(Hydrus::Item.discovery_roles.to_a, @fobj.visibility)) %>
      <% else %>
        <span class="highlight-value">
          <%= @fobj.visibility == ['world'] ? 'anyone.' : 'the Stanford community.'%>
        </span>
      <% end %>
    </div>
  </div>

  <!-- Review release settings -->
  <div class="row field-group">
    <div class="span9 sub-section">
      <span>
        <br />
        <input type="checkbox"
               <%="checked disabled" if to_bool(@fobj.reviewed_release_settings)%> 
               name="hydrus_item[reviewed_release_settings]" 
               value="true" id="release_settings" />
        I have reviewed the release and visibility settings above.
      </span>
    </div>
  </div>

  <!-- Terms of deposit -->

  <%= hydrus_form_header(:required => true) {"Terms of Deposit"} %>

  <div class="row field-group">
    <div class="span9 sub-section">
      <span>
        <br />
        <input type="checkbox"
               <%="checked disabled" if to_bool(@fobj.terms_of_deposit_accepted?)%> 
               name="hydrus_item[terms_of_deposit_checkbox]" 
               value="true" id="terms_of_deposit_checkbox" /> I have read and agree to the SDR
					     <% tod_path = terms_of_deposit_path(@fobj) %>
					      <%= link_to( 
					            "Terms of Deposit",
					            tod_path,
					            :target     => '_blank',
					            :class      => 'tod_link',
					            :"data-url" => "#{tod_path}&from=edit"
					          )
					      %>      </span>
    </div>
  </div>

  <!-- Terms of use and license -->

  <%= hydrus_form_header(:required => @fobj.licenses_can_vary) {"Terms of Use and Licenses"} %>

  <div class="row field-group">
    <div class="span9 sub-section">
      <p>
        The following Terms of Use will be displayed with this item when published:
        <%= in_quotes(@fobj.terms_of_use) %>
      </p>
    </div>
  </div>

  <div class="row field-group">
    <div class="span9">
      <% if @fobj.licenses_can_vary %>
        This item will be licensed under
        <%= f.select :license,
                     grouped_options_for_select(Hydrus::GenericObject.license_groups, @fobj.license), 
                     {:prompt => 'Select license'}, 
                     {:class => 'inline-select right' } %>
      <% else %>
        <span class="highlight-value">
          <% lic = Hydrus::Collection.license_human(@fobj.license) %>
          <%= hydrus_object_setting_value(lic) %>
        </span>
      <% end %>
    </div>
  </div>

  <!-- Version information -->

  <% unless @fobj.is_initial_version %>

    <%= hydrus_form_header(:required => true) {"Information about new version"} %>

    <div class="row field-group">
      <%= hydrus_form_label do %>
        <%= f.label 'Description' %>
      <%- end -%>
      <%= hydrus_form_value do  -%>
        <%= f.text_area(:version_description,
                        :value => @fobj.version_description,
                        :required => true, :rows => 3) %>
      <%- end -%>
    </div>

    <div class="row field-group">
      <%= hydrus_form_label do %>
        <%= f.label 'Scope of change' %>
      <%- end -%>
      <%= hydrus_form_value do %>
        <% %w(major minor).each do |opt| %>
          <div class="row">
            <div class="span1 radio-input">
              <%= f.radio_button 'version_significance', opt %>
            </div>
            <div class="span7 radio-label">
              <%= f.label 'version_significance', opt.capitalize, :value => opt %>
              <% if opt == "minor" %>
                <span class="help">
                  <%= "(for example, small text edits)" %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  <% end %>

  <noscript>
    <%= render :partial => "actions_box_edit", :locals => {:id=>"nojs"}%>
  </noscript>

<%- end -%>

</div> <!-- object-content-wrapper -->

<div id="druid-footer"><%= @fobj.pid %></div>
