<%=render :partial=>'shared/set_page_title' %>

<%- sidebar_items << capture do -%>
  <div class="well actions-box collection-settings">
    <%=render :partial=>'hydrus_collections/status_box' %>
    <%=render :partial=>'hydrus_collections/actions_box_show' %>
  </div>
<%- end -%>

<div class="row">
  <div class="span9">
    <%= render_contextual_navigation(@fobj) %>
  </div>
</div>
<div id="object-content-wrapper">
  <h3><%= hydrus_object_setting_value(@fobj.title) %></h3>
  <h4 class="muted"><%=@items.size%> Items in This Collection</h4>
  <%- unless @items.blank? -%>
    <div id="items" class="collection-items">
      <table id="itemsTable" class="tablesorter hydrus-striped-table table-striped table-condensed">
        <thead>
          <tr>
            <th class="title">Title</th>
            <th class="depositor">Depositor</th>
            <!-- <th class="type">Type</th> -->
            <th class="status">Status</th>
            <th class="status"># of Files</th>
            <th class="date">Date added</th>
          </tr>
        </thead>
        <tbody>
          <!-- iterate through collection items  -->
          <!-- Can use Hydrus::Item.milestones.last to get status. Speak with Lynn. -->
          <% @items.sort_by{|i|i[:create_date]}.reverse.each do |item| %>
            <tr class="document <%= cycle("even","odd") %>">
              <td><%= link_to item[:title],hydrus_item_path(item[:pid]) %></td>
              <td><%= item[:item_depositor_id] %></td>
              <!-- <td><%#= item[:object_type] %></td> -->
              <td><%= item[:status_label] %></td>
              <td><%= item[:num_files] %></td>
              <td><%= HyTime.datetime_display(item[:create_date].first) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <%- else -%>
    No items have been added to this collection.
  <%- end -%>
</div> <!-- object-content-wrapper -->
