<%- @page_title = "#{@document_fedora.title} - #{application_name}" -%>

<%- sidebar_items << capture do -%>
  <div class="well actions-box collection-settings">
  	<%=render :partial=>'hydrus_collections/status_box' %>
		<%=render :partial=>'hydrus_collections/actions_box_show' %>
  </div>
<%- end -%>

<div class="row">
  <div class="span9">
		<%= render_contextual_navigation(@document_fedora) %>
  </div>
</div>
<div id="object-content-wrapper">
  <h3><%= hydrus_object_setting_value(@document_fedora.title) %></h3>

  <dl class="dl-horizontal object-view clearfix">
    <%= render "hydrus_collections/basic_collection_metadata" %>
  </dl>

  <h4 class="muted">Items in this Collection</h4>
  <%- unless @document_fedora.hydrus_items.blank? -%>
    <div id="items" class="collection-items">
      <table class="hydrus-striped-table table-striped table-condensed">
        <thead>
          <tr>
            <th class="title">Title</th>
            <th class="depositor">Depositor</th>
            <th class="type">Type</th>
            <th class="status">Status</th>
            <th class="date">Date added</th>
          </tr>
        </thead>
        <tbody>
          <!-- iterate through collection items  -->
          <!-- Can use Hydrus::Item.milestones.last to get status. Speak with Lynn. -->
          <% @document_fedora.hydrus_items.each do |item| %>
            <tr class="document <%= cycle("even","odd") %>">
              <td><%= item_title_link(item) %></td>
              <td><%= item.item_depositor_name %></td>
              <td><font color=red><%= item.object_type %></font></td>
              <td><%= item.status %></td>
              <td><%= hydrus_format_date(item.submit_time) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <%- else -%>
    No items have been added to this collection.
  <%- end -%>
</div> <!-- object-content-wrapper --> 
