<% 
  dmd = @document_fedora.descMetadata
  cmd = @document_fedora.contentMetadata
%>
<%- @page_title = "#{dmd.title.first} - #{application_name}" -%>

<% sidebar_items << capture do %>

  <dl>
    <dt><h6>Collection</h6></dt>
    <% @document_fedora.collection.each do |c| %>
      <dd class="collection"><%= link_to(c.descMetadata.title.first, polymorphic_path(c)) %></dd>
    <% end %>
  </dl>


  <div class="well actions-box item-status">
    <div class="box-header">Status</div>
    <dl class="dl-horizontal">
      <dt>Submitted by:</dt>
      <dd><font color=red>#TODO</font></dd>
      <dt>Submitted on:</dt>
      <dd><%= @document_fedora.submit_time.to_date.strftime("%b %d, %Y") %></dd>
      <dt>Release date:</dt>
      <dd><font color=red>#TODO</font></dd>
      <dt>Visibility:</dt>
      <dd><%= @document_fedora.discover_access %></dd>
    </dl>
  </div>
<%- end -%>

<div>

  <span class="edit-browse">
		<%=render :partial=>'shared/navigation' %>
  </span>

  <dl class="dl-horizontal item-view">

    <h3><%= dmd.title.first %></h3>

    <dt>PURL: </dt>
    <dd>
      <%=
        url = "http://purl.stanford.edu/#{@document_fedora.pid}"
        link_to(url, url)
      %>
    </dd>

    <% dmd.find_by_terms(:name).each do |name_node| %>
      <dt><%= name_node.at_css('role roleTerm').content %>:</dt>
      <dd><%= name_node.at_css('namePart').content %></dd>
    <% end %>

    <dt>Abstract: </dt>
    <dd><%= dmd.abstract.first %></dd>

    <dt>Keywords: </dt>
    <dd>
      <%= dmd.subject.topic.map{|topic| link_to(topic, "#")}.join(", ").html_safe %>
    </dd>

    <dt>Cite this item as: </dt>
    <dd><%= dmd.preferred_citation.first %></dd>

    <dt>Cite related work as: </dt>
    <dd><font color=red>#TODO decisions required</font></dd>

    <dt>Publisher: </dt>
    <dd><%= dmd.originInfo.publisher.first %></dd>

    <dt>Publication date: </dt>
    <dd><%= dmd.originInfo.dateIssued.first %></dd>

    <dt>Peer-reviewed: </dt>
    <dd><%= dmd.peer_reviewed.first %></dd>

    <% dmd.find_by_terms(:relatedItem).each do |rel_node|
      ti  = rel_node.at_css('titleInfo title').content
      uri = rel_node.at_css('identifier').content
    %>
      <dt>Related content: </dt>
      <dd><%= link_to(ti, uri) %></dd>
    <% end %>

    <dt>Files: </dt>
    <dd>
      <table class="hydrus-striped-table table-striped table-condensed">
        <thead>
          <th>File (Download)</th>
          <th>Description</th>
        </thead>
        <tbody>
          <% 
            cmd.find_by_terms(:resource).each do |res_node|
              file_name = res_node.at_css('file')['id']
              file_desc = res_node.at_css('label').content
          %>
              <tr class="document <%= cycle("even","odd") %>">
                <td><%= link_to(file_name, file_name) %></td>
                <td><%= file_desc %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </dd>

  </dl>

</div>
