<% 
  dmd = @document_fedora.descMetadata
  cmd = @document_fedora.contentMetadata
%>

<div>

  <span class="edit-browse">
		<%=render :partial=>'shared/navigation' %>
  </span>

  <dl class="defList">

    <h3><%= dmd.title.first %></h3>

    <dt>PURL: </dt>
    <dd>
      <%=
        url = "http://purl.stanford.edu/#{@document_fedora.pid}"
        link_to(url, url)
      %>
    </dd>

    <% dmd.find_by_terms(:name).each do |name_node| %>
      <dt><%= name_node.at_css('role roleTerm').content %></dt>
      <dd><%= name_node.at_css('namePart').content %></dd>
    <% end %>

    <dt>Abstract: </dt>
    <dd><%= dmd.abstract.first %></dd>

    <dt>Keywords: </dt>
    <dd>
    <% 
      topics = dmd.subject.topic
      topics.each_with_index do |topic, i|
    %>
        <%= link_to(topic, '#') %>
        <%= i == topics.size - 1 ? '' : ';' %>
    <% end %>
    </dd>

    <dt>Cite this item as: </dt>
    <dd><%= dmd.preferred_citation.first %></dd>

    <dt>Cite related work as: </dt>
    <dd><font color=red>#TODO decisions required</font></dd>

    <dt>Publisher: </dt>
    <dd><%= dmd.originInfo.publisher.first %></dd>

    <dt>Publication date: </dt>
    <dd><%= dmd.originInfo.dateIssued.first %></dd>

    <dt>Peer-reviewed: </dt>
    <dd><%= dmd.peer_reviewed.first %></dd>

    <% dmd.find_by_terms(:relatedItem).each do |rel_node|
      ti  = rel_node.at_css('titleInfo title').content
      uri = rel_node.at_css('identifier').content
    %>
      <dt>Related content: </dt>
      <dd><%= link_to(ti, uri) %></dd>
    <% end %>

    <dt>Files: </dt>
    <% 
      cmd.find_by_terms(:resource).each do |res_node|
        file_name = res_node.at_css('file')['id']
        file_desc = res_node.at_css('label').content
    %>
      <dd>
      <%= link_to(file_name, file_name) %>
      <%= file_desc %><br/>
      </dd>
    <% end %>


    <h3>Status</h3>

    <dt>Submitted by: </dt>
    <dd><font color=red>#TODO decisions required</font></dd>

    <dt>Submitted on: </dt>
    <dd><%= @document_fedora.submit_time %></dd>

    <dt>Release date: </dt>
    <dd><font color=red>#TODO decisions required</font></dd>

    <dt>Visibility: </dt>
    <dd><%= @document_fedora.discover_access %></dd>


    <h3>Collections</h3>

    <% @document_fedora.collection.each do |c| %>
      <dd><%= link_to(c.descMetadata.title.first, polymorphic_path(c)) %></dd>
    <% end %>

  </dl>

</div>
