<%=render :partial=>'shared/set_page_title' %>

<% sidebar_items << capture do %>

  <div id="status-box"><%= render :partial => "status_box"%></div>

  <div id="actions-box"><%= render :partial => "actions_box_show"%></div>
<%- end -%>

<div>
  <div class="row">
    <div class="span9">
      <%=render :partial=>'navigation' %>
    </div>
  </div>

  <div id="object-content-wrapper">
    <h3><%= title_text(@fobj) %></h3>
    <h4 class="muted">Item Details</h4>
    <dl class="dl-horizontal item-view clearfix">

      <%= render "hydrus_items/basic_item_metadata" %>

       <div class="collection-items">
           <h4>Contributors</h4>
          <% if hydrus_is_empty?(@fobj.actors) %>
              <dt>Author</dt><dd><%= hydrus_object_setting_value(@fobj.actors)%></dd>
          <% else %>
            <% @fobj.actors.each do |actor| %>
              <dt><%= actor.role %></dt>
              <dd><%= actor.name %></dd>
            <% end %>
          <% end %>
      </div>

      <% unless @fobj.files.size == 0 %>
        <div class="item-files collection-items">
           <h4>Files associated with this item</h4>

          <table class="hydrus-striped-table table-striped table-condensed">
            <thead>
              <th>File (Download)</th>
              <th>Description</th>
            </thead>
            <tbody>
              <%
                @fobj.files.each do |file|
              %>
                  <tr class="document <%= cycle("even","odd") %>">
                    <td><%= link_to(file.filename, file.url) %></td>
                    <td><%= file.label %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% end %>

       <div class="collection-items">
           <h4>Abstract and keywords</h4>
              <dt>Abstract</dt>
              <dd class="abstract"><%= hydrus_object_setting_value(@fobj.abstract) %></dd>
              <% unless hydrus_is_empty?(@fobj.keywords) %>
                <dt>Keywords</dt>
                <dd>
                  <%= @fobj.keywords.map {|topic| link_to(topic, "#")}.join(", ").html_safe %>
                </dd>
              <% end %>
      </div>

       <% unless hydrus_is_empty?(@fobj.preferred_citation) && hydrus_is_empty?(@fobj.related_citation) && hydrus_is_empty?(@fobj.related_items) %>
         <div class="collection-items">
             <h4>Related Links and Citations</h4>
           <% unless hydrus_is_empty?(@fobj.preferred_citation) %>
             <dt>Cite this item as</dt>
             <dd><%= @fobj.preferred_citation %></dd>
           <% end %>

           <% unless hydrus_is_empty?(@fobj.related_citation) %>
             <% @fobj.related_citation.each_with_index do |related_citation, index| %>
               <dt class="<%= 'hidden-label' if index > 0 %>">Related published work</dt>
               <dd><%= related_citation %></dd>
             <% end %>
           <% end %>

           <% unless hydrus_is_empty?(@fobj.related_items) %>
             <% @fobj.related_items.each_with_index do |related_item, index| %>
               <dt class="<%= 'hidden-label' if index > 0 %>">Related links</dt>
               <dd><%= related_item.url.blank? ? hydrus_object_setting_value(related_item.url) : link_to(related_item.title, related_item.url) %></dd>
             <% end %>
           <% end %>
         </div>
     <% end %>

     <div class="collection-items">
       <h4>Release, Visibility and License</h4>
      <dt>Visibility</dt>
      <dd>
        After its release, this item can be discovered and downloaded by <span class="highlight-value">
        <%if @fobj.visibility.blank? %>
          <%= @fobj.collection.visibility == 'world' ? 'anyone' : 'the Stanford community'%>.
        <% else %>
          <%= @fobj.visibility == ['world'] ? 'anyone' : 'the Stanford community'%>.
        <% end %>
        </span>
      </dd>
      <dt>Release</dt>
      <dd>
        <% case @fobj.collection.embargo_option %>
        <% when 'none' %>
          This item will be released for discovery and download
          <span class="highlight-value">
            as soon as it is published.
          </span>
        <% when 'varies' %>
          This item will be released for discovery and download
          <%= @fobj.embargo_date.blank? ? 'immediately' : "on #{@fobj.embargo_date}"%>.
        <% when 'fixed' %>
          This item will be released for discovery and download
          <span class="highlight-value">
            <%= @fobj.collection.embargo %>
            after deposit.
          </span>
        <% end %>
    </dd>
    <dt>License</dt>
    <dd>
    <% case @fobj.collection.license_option %>
    <% when 'none' %>
      No license will be applied to this item. All rights reserved by content creator.
    <% when 'varies' %>
      <span class="highlight-value">
        <%  v = Hydrus::Collection.license_human(@fobj.license) %>
        <%= hydrus_object_setting_value(v) %>
      </span>
    <% when 'fixed' %>
      <span class="highlight-value">
        <%= Hydrus::Collection.license_human(@fobj.collection.license) %>
      </span>
    <% end %>
    </dd>
      </div>


  </div> <!-- object-content-wrapper -->
    <div id="druid-footer"><%= @fobj.pid %></div>
</div>
