<% 
  dmd = @document_fedora.descMetadata
  cmd = @document_fedora.contentMetadata
%>

<div>

  <span class="edit-browse">
		<%=render :partial=>'shared/navigation' %>
  </span>

  <dl class="defList">

    <h3><%= dmd.title.first %></h3>

    <dt>PURL: </dt>
    <dd>
      <%=
        url = "http://purl.stanford.edu/#{@document_fedora.pid}"
        link_to(url, url)
      %>
    </dd>

    <% dmd.name.namePart.zip(dmd.name.role.roleTerm).each do |np, rt| %>
      <dt><%= rt %></dt>
      <dd><%= np %></dd>
    <% end %>

    <dt>Abstract: </dt>
    <dd><%= dmd.abstract.first %></dd>

    <dt>Keywords: </dt>
    <dd><font color=red>#TODO: spec is unclear</font></dd>

    <dt>Cite this item as: </dt>
    <dd><font color=red>#TODO: spec is unclear</font></dd>

    <dt>Cite related work as: </dt>
    <dd><font color=red>#TODO: spec is unclear</font></dd>

    <dt>Publisher: </dt>
    <dd><%= dmd.originInfo.publisher.first %></dd>

    <dt>Publication date: </dt>
    <dd><%= dmd.originInfo.dateIssued.first %></dd>

    <dt>Peer-reviewed: </dt>
    <dd><font color=red>#TODO: spec is unclear</font></dd>

    <% dmd.relatedItem.titleInfo.title.zip(dmd.relatedItem.identifier).each do |ti, uri| %>
      <dt>Related content: </dt>
      <dd><%= link_to(ti, uri) %></dd>
    <% end %>

    <dt>Files: </dt>
    <% 
      resources = @document_fedora.contentMetadata.ng_xml.css 'resource'
      resources.each do |resource|
        file_name = resource.at_css('file')['id']
        file_desc = resource.at_css('label').content
    %>
      <dd>
      <%= link_to(file_name, file_name) %>
      <%= file_desc %><br/>
      </dd>
    <% end %>

  </dl>

</div>
