<%- @page_title = "#{@document_fedora.title} - #{application_name}" -%>

<% sidebar_items << capture do %>

  <dl>
    <dt><h6>Collection</h6></dt>
    <dd class="collection">
      <%= 
        c = @document_fedora.collection 
        link_to(c.title, polymorphic_path(c))
      %>
    </dd>
  </dl>


  <div class="well actions-box item-status">
    <div class="box-header">Status</div>
    <dl class="dl-horizontal">
      <dt>Submitted by:</dt>
      <dd><%= hydrus_object_setting_value(@document_fedora.item_depositor_name) %></dd>
      <dt>Submitted on:</dt>
      <dd><%= hydrus_object_setting_value(hydrus_format_date(@document_fedora.submit_time)) %></dd>
      <dt>Release date:</dt>
      <dd><%=
        d = formatted_datetime(@document_fedora.publish_lifecycle_time, :date)
        hydrus_object_setting_value(d)
      %></dd>
      <dt>Visibility:</dt>
      <dd><%= hydrus_object_setting_value(@document_fedora.discover_access) %></dd>
    </dl>
  </div>


	<%= form_for(@document_fedora, :method => 'PUT', :html => {:class => "step", :novalidate=>""}) do |f| -%>
	<div class="well actions-box collection-actions">
	  <div class="box-header">What you can do</div>
	  <p><%= link_to("Edit item",edit_polymorphic_path(@document_fedora, :viewing_context => 'edit'),
	          :class => 'edit toggle') %></p>
      <%
         if @document_fedora.is_published
           unless @document_fedora.is_approved
      %>
            <p>
              <button type="submit" class="btn btn-small save-edits" 
                      name="hydrus_item[approve]" value="true" 
                      id="hydrus_item_approve">Approve Item</button>
            </p>
      <%
           end
      %>
			<% elsif @document_fedora.is_publishable %>
          <p>
            <button type="submit" class="btn btn-small save-edits" 
                    name="hydrus_item[publish]" value="true" 
                    id="hydrus_item_publish">Publish Item</button>
          </p>
			<% else %>
					<p>To publish the item, you must fix the following:
						<%
            errors = @document_fedora.errors.messages.map { |field, error|
			        "<li class='errors'>#{field.to_s.humanize.capitalize} #{error.join}</li>"
            }
						%>
						<%="<ul>#{errors.join}</ul>".html_safe%>
				  </p>
			<% 
			end
      unless @document_fedora.is_published
			%>
        <p class="discard-item">
          <i class="icon-trash"></i>
          <a href="#">Discard <%=@document_fedora.object_type%></a>
        </p>
			<% end %>
	</div>
	<% end %>
<%- end -%>


<div>

  <span class="edit-browse">
		<%=render :partial=>'shared/navigation' %>
  </span>

  <dl class="dl-horizontal object-view clearfix">

    <h3><%= hydrus_object_setting_value(@document_fedora.title) %></h3>

    <dt>PURL</dt>
    <dd>
      <% if @document_fedora.is_published %>
				<%=link_to(@document_fedora.url, @document_fedora.url)%>
    	<% else %>
				Not published yet
			<% end %>
		</dd>

    <dt>Contact email</dt>
    <dd><%= @document_fedora.contact.blank? ? hydrus_object_setting_value(@document_fedora.contact) : mail_to(@document_fedora.contact) %></dd>

    <% @document_fedora.actors.each do |actor| %>
      <dt><%= actor.role %></dt>
      <dd><%= actor.name %></dd>
    <% end %>

    <dt>Abstract</dt>
    <dd class="abstract"><%= hydrus_object_setting_value(@document_fedora.abstract) %></dd>

		<% unless hydrus_is_empty?(@document_fedora.keywords) %>
	    <dt>Keywords</dt>
	    <dd>
	      <%= @document_fedora.keywords.map {|topic| link_to(topic, "#")}.join(", ").html_safe %>
	    </dd>
		<% end %>
		
    <% unless hydrus_is_empty?(@document_fedora.preferred_citation) %>
      <dt>Cite this item as</dt>
      <dd><%= @document_fedora.preferred_citation %></dd>
    <% end %>

    <% unless hydrus_is_empty?(@document_fedora.related_citation) %>
      <% @document_fedora.related_citation.each_with_index do |related_citation, index| %>
        <dt class="<%= 'hidden-label' if index > 0 %>">Related published work</dt>
        <dd><%= related_citation %></dd>
      <% end %>
    <% end %>

    <% unless hydrus_is_empty?(@document_fedora.related_items) %>
      <% @document_fedora.related_items.each_with_index do |related_item, index| %>
        <dt class="<%= 'hidden-label' if index > 0 %>">Related links</dt>
        <dd><%= related_item.url.blank? ? hydrus_object_setting_value(related_item.url) : link_to(related_item.title, related_item.url) %></dd>
      <% end %>
    <% end %>

  </dl>

  <% unless @document_fedora.files.size == 0 %>
    <div class="item-files">
      <table class="hydrus-striped-table table-striped table-condensed">
        <thead>
          <th>File (Download)</th>
          <th>Description</th>
        </thead>
        <tbody>
          <% 
            @document_fedora.files.each do |file|
          %>
              <tr class="document <%= cycle("even","odd") %>">
                <td><%= link_to(file.filename, file.url) %></td>
                <td><%= file.label %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <%= render(:partial => 'shared/events') %>

  <div id="druid-footer"><%= @document_fedora.pid %></div>

</div>
