<% 
  dmd = @document_fedora.descMetadata
  cmd = @document_fedora.contentMetadata
%>

<div>

  <span class="edit-browse">
		<%=render :partial=>'shared/navigation' %>
  </span>

  <dl class="defList">

    <h3><%= dmd.title.first %></h3>

    <dt>PURL: </dt>
    <dd>
      <%=
        url = "http://purl.stanford.edu/#{@document_fedora.pid}"
        link_to(url, url)
      %>
    </dd>

    <% dmd.find_by_terms(:name).each do |name_node| %>
      <dt><%= name_node.at_css('role roleTerm').content %></dt>
      <dd><%= name_node.at_css('namePart').content %></dd>
    <% end %>

    <dt>Abstract: </dt>
    <dd><%= dmd.abstract.first %></dd>

    <dt>Keywords: </dt>
    <dd>
      <% dmd.subject.topic.each do |topic| %>
        <%= link_to(topic, '#') %>,
      <% end %>
    </dd>

    <dt>Cite this item as: </dt>
    <dd><font color=red>#TODO: spec is unclear</font></dd>

    <dt>Cite related work as: </dt>
    <dd><font color=red>#TODO: spec is unclear</font></dd>

    <dt>Publisher: </dt>
    <dd><%= dmd.originInfo.publisher.first %></dd>

    <dt>Publication date: </dt>
    <dd><%= dmd.originInfo.dateIssued.first %></dd>

    <dt>Peer-reviewed: </dt>
    <dd><font color=red>#TODO: spec is unclear</font></dd>

    <% dmd.find_by_terms(:relatedItem).each do |rel_node|
      ti  = rel_node.at_css('titleInfo title').content
      uri = rel_node.at_css('identifier').content
    %>
      <dt>Related content: </dt>
      <dd><%= link_to(ti, uri) %></dd>
    <% end %>

    <dt>Files: </dt>
    <% 
      cmd.find_by_terms(:resource).each do |res_node|
        file_name = res_node.at_css('file')['id']
        file_desc = res_node.at_css('label').content
    %>
      <dd>
      <%= link_to(file_name, file_name) %>
      <%= file_desc %><br/>
      </dd>
    <% end %>

  </dl>

</div>
