<div>

  <span class="edit-browse">
    <%= edit_and_browse_links %>
  </span>

  <dl class="defList">

    <dt>PID: </dt>
    <dd><%= @document_fedora.pid %></dd>

    <dt>Object type: </dt>
    <dd><%= @document_fedora.identityMetadata.objectType.inspect %></dd>

    <dt>Publisher: </dt>
    <dd><%= @document_fedora.descMetadata.originInfo.publisher.first %></dd>

    <dt>Title: </dt>
    <dd><%= @document_fedora.DC.title.first %></dd>

    <dt>Abstract: </dt>
    <dd><%= @document_fedora.descMetadata.abstract.first %></dd>

    <dt>APO PID: </dt>
    <dd><%= @document_fedora.apo.pid %></dd>

  </dl>
</div>
