<%- @page_title = "#{@document_fedora.title} - #{application_name}" -%>

<% sidebar_items << capture do %>

  <dl>
    <dt><h6>Collection</h6></dt>
    <% @document_fedora.collection.each do |c| %>
      <dd class="collection"><%= link_to(c.title, polymorphic_path(c)) %></dd>
    <% end %>
  </dl>


  <div class="well actions-box item-status">
    <div class="box-header">Status</div>
    <dl class="dl-horizontal">
      <dt>Submitted by:</dt>
      <dd><font color=red>#TODO</font></dd>
      <dt>Submitted on:</dt>
      <dd><%= @document_fedora.submit_time.to_date.strftime("%b %d, %Y") %></dd>
      <dt>Release date:</dt>
      <dd><font color=red>#TODO</font></dd>
      <dt>Visibility:</dt>
      <dd><%= @document_fedora.discover_access %></dd>
    </dl>
  </div>
<%- end -%>

<div>

  <span class="edit-browse">
		<%=render :partial=>'shared/navigation' %>
  </span>

  <dl class="dl-horizontal object-view clearfix">

    <h3><%= @document_fedora.title %></h3>

    <dt>PURL</dt>
    <dd>
      <%=link_to(@document_fedora.url, @document_fedora.url)%>
    </dd>

    <dt>Contact email</dt>
    <dd><font color=red>#TODO</font></dd>

    <% @document_fedora.actors.each do |actor| %>
      <dt><%= actor.role %></dt>
      <dd><%= actor.name %></dd>
    <% end %>

    <dt>Abstract</dt>
    <dd><%= @document_fedora.abstract %></dd>

    <dt>Keywords</dt>
    <dd>
      <%= @document_fedora.keywords.map {|topic| link_to(topic, "#")}.join(", ").html_safe %>
    </dd>

    <dt>Cite this item as</dt>
    <dd><%= @document_fedora.preferred_citation %></dd>

    <dt>Cite related work as</dt>
    <dd><%= @document_fedora.cite_related_as %></dd>

    <dt>Publisher</dt>
    <dd><%= @document_fedora.publisher %></dd>

    <dt>Publication date</dt>
    <dd><%= @document_fedora.publication_date %></dd>

    <% @document_fedora.related_items.each do |related_item| %>
      <dt>Related content</dt>
      <dd><%= link_to(related_item.title, related_item.url) %></dd>
    <% end %>

  </dl>

  <table class="hydrus-striped-table table-striped table-condensed">
    <thead>
      <th>File (Download)</th>
      <th>Description</th>
    </thead>
    <tbody>
      <% 
        @document_fedora.files.each do |file|
      %>
          <tr class="document <%= cycle("even","odd") %>">
            <td><%= link_to(file.filename, file.url) %></td>
            <td><%= file.label %></td>
          </tr>
      <% end %>
    </tbody>
  </table>

</div>
