<%- @page_title = "#{@document_fedora.title} - #{application_name}" -%>

<% sidebar_items << capture do %>

	<%= render :partial => "status_box"%>

	<%= render :partial => "actions_box_show"%>
<%- end -%>


<div>

  <span class="edit-browse">
		<%=render :partial=>'shared/navigation' %>
  </span>

  <dl class="dl-horizontal object-view clearfix">

    <h3><%= hydrus_object_setting_value(@document_fedora.title) %></h3>
		<h4 class="muted">Item Settings</h4>
		
		<dt>Collection</dt>
		<dd><%=
      c = @document_fedora.collection
      link_to(c.title, polymorphic_path(c))
    %></dd>

   <dt>Submitted by</dt>
    <dd><%= @document_fedora.item_depositor_id %></dd>

   <dt>Submitted on</dt>
    <dd><%= hydrus_format_date(@document_fedora.create_date) %></dd>
		
    <dt>PURL</dt>
    <dd>
      <% if @document_fedora.is_published %>
				<%=link_to(@document_fedora.url, @document_fedora.url)%>
    	<% else %>
				Not published yet
			<% end %>
		</dd>

    <dt>Contact email</dt>
    <dd><%= @document_fedora.contact.blank? ? hydrus_object_setting_value(@document_fedora.contact) : mail_to(@document_fedora.contact) %></dd>

		 <div class="collection-items">
		     <h4>People and organizations responsible for this item</h4>
		    <% @document_fedora.actors.each do |actor| %>
		      <dt><%= actor.role %></dt>
		      <dd><%= actor.name %></dd>
		    <% end %>
		</div>


	  <% unless @document_fedora.files.size == 0 %>
	    <div class="item-files">
		     <h4>Files associated With This Item</h4>

	      <table class="hydrus-striped-table table-striped table-condensed">
	        <thead>
	          <th>File (Download)</th>
	          <th>Description</th>
	        </thead>
	        <tbody>
	          <%
	            @document_fedora.files.each do |file|
	          %>
	              <tr class="document <%= cycle("even","odd") %>">
	                <td><%= link_to(file.filename, file.url) %></td>
	                <td><%= file.label %></td>
	              </tr>
	          <% end %>
	        </tbody>
	      </table>
	    </div>
	
		 <div class="collection-items">
		     <h4>Abstract and keywords</h4>
 				   <dt>Abstract</dt>
				    <dd class="abstract"><%= hydrus_object_setting_value(@document_fedora.abstract) %></dd>
						<% unless hydrus_is_empty?(@document_fedora.keywords) %>
					    <dt>Keywords</dt>
					    <dd>
					      <%= @document_fedora.keywords.map {|topic| link_to(topic, "#")}.join(", ").html_safe %>
					    </dd>
						<% end %>						
		</div>

		 <div class="collection-items">
		     <h4>Related Links and Citations</h4>
	     <% unless hydrus_is_empty?(@document_fedora.preferred_citation) %>
	       <dt>Cite this item as</dt>
	       <dd><%= @document_fedora.preferred_citation %></dd>
	     <% end %>
	 
	     <% unless hydrus_is_empty?(@document_fedora.related_citation) %>
	       <% @document_fedora.related_citation.each_with_index do |related_citation, index| %>
	         <dt class="<%= 'hidden-label' if index > 0 %>">Related published work</dt>
	         <dd><%= related_citation %></dd>
	       <% end %>
	     <% end %>
	 
	     <% unless hydrus_is_empty?(@document_fedora.related_items) %>
	       <% @document_fedora.related_items.each_with_index do |related_item, index| %>
	         <dt class="<%= 'hidden-label' if index > 0 %>">Related links</dt>
	         <dd><%= related_item.url.blank? ? hydrus_object_setting_value(related_item.url) : link_to(related_item.title, related_item.url) %></dd>
	       <% end %>
	     <% end %>
	 </div>
  

  <% end %>

  <%= render(:partial => 'shared/events') %>

  <div id="druid-footer"><%= @document_fedora.pid %></div>

</div>
