<%=render :partial=>'shared/set_page_title' %>

<% sidebar_items << capture do %>

  <div id="status-box"><%= render :partial => "status_box"%></div>

  <div id="actions-box"><%= render :partial => "actions_box_show"%></div>
<%- end -%>

<div>
  <div class="row">
    <div class="span9">
      <%=render :partial=>'navigation' %>
    </div>
  </div>

  <div id="object-content-wrapper">
    <h3><%= title_text(@fobj) %></h3>
    <h4 class="muted">Item Details</h4>
    <dl class="dl-horizontal item-view clearfix">

      <%= render "hydrus_items/basic_item_metadata" %>

       <div class="collection-items contributors-list">
           <h4>Authors and Contributors</h4>
          <% if hydrus_is_empty?(@fobj.contributors) %>
              <dt>Author</dt><dd><%= hydrus_object_setting_value(@fobj.contributors)%></dd>
          <% else %>
            <% @fobj.contributors.each do |contributor| %>
              <dt><%= contributor.role %></dt>
              <dd><% if contributor.name.blank? %><em>unspecified</em><% else %><%= contributor.name%></dd><% end %>
            <% end %>
          <% end %>
      </div>
	  <div class="collection-items date-created">
		  <h4>Date</h4>
		  <dt>Date Created</dt><dd><%= @fobj.date_created %></dd>
	  </div>

      <% files = @fobj.files %>
      <% unless files.size == 0 %>

        <div class="item-files collection-items">
           <h4>Files associated with this item</h4>

          <table class="hydrus-striped-table table-striped table-condensed">
            <thead>
              <th>File (Download)</th>
              <th>Description</th>
            </thead>
            <tbody>
              <% files.each do |file| %>
                  <tr class="document <%= cycle("even","odd") %>">
                    <td>
                      <%= link_to(file.filename, file.url) %>
                      <span class="hide_status_<%=file.id%>">
                        <%= file.hide ? "[hidden]" : "" %>
                      </span>
                    </td>
                    <td>
                      <span class="file_label_<%=file.id%>">
                        <%= file.label %>
                      </span>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% end %>

       <div class="collection-items">
           <h4>Abstract and keywords</h4>
              <dt>Abstract</dt>
              <dd class="abstract">
                <%= show_line_breaks(hydrus_object_setting_value(@fobj.abstract)) %>
              </dd>
                <dt>Keywords</dt>
                <dd>
                  <% if hydrus_is_empty?(@fobj.keywords) %>
										<%=hydrus_object_setting_value(@fobj.keywords)%>
									<% else %>
										<%= @fobj.keywords.map {|topic| link_to(topic, "#")}.join(", ").html_safe %>
									<% end %>
                </dd>
      </div>

      <% unless hydrus_is_empty?(@fobj.preferred_citation) && hydrus_is_empty?(@fobj.related_citation) && hydrus_is_empty?(@fobj.related_items) %>
         <div class="collection-items">
             <h4>Related Links and Citations</h4>
           <% unless hydrus_is_empty?(@fobj.preferred_citation) %>
             <dt>Cite this item as</dt>
             <dd><%= @fobj.preferred_citation %></dd>
           <% end %>

           <% unless hydrus_is_empty?(@fobj.related_citation) %>
             <% @fobj.related_citation.each_with_index do |related_citation, index| %>
               <dt class="<%= 'hidden-label' if index > 0 %>">Related published work</dt>
               <dd><%= related_citation %></dd>
             <% end %>
           <% end %>

           <% unless hydrus_is_empty?(@fobj.related_items) %>
             <% @fobj.related_items.each_with_index do |related_item, index| %>
               <dt class="<%= 'hidden-label' if index > 0 %>">Related links</dt>
               <dd><%= related_item.url.blank? ? hydrus_object_setting_value(related_item.url) : link_to(related_item.title, related_item.url) %></dd>
             <% end %>
           <% end %>
         </div>
      <% end %>

      <div class="collection-items">

        <h4>Release, Visibility, License, and Terms of Use</h4>

        <dt>Release</dt>
        <dd>
          This item will be released for discovery and download <span class="highlight-value"><%= @fobj.is_embargoed ? HyTime.datetime_display(@fobj.embargo_date) : 'as soon as it is published'%></span>.
        </dd>

        <dt>Visibility</dt>
        <dd>
          After its release, this item can be discovered and downloaded by <span class="highlight-value"><%= @fobj.visibility == ['world'] ? 'anyone' : 'the Stanford community'%></span>.
        </dd>

        <dt>License</dt>
        <dd>
          <span class="highlight-value">
            <% lic = Hydrus.license_human(@fobj.license) %>
            <%= hydrus_object_setting_value(lic) %>
          </span>
        </dd>
 
        <dt>Terms of use</dt>
        <dd>
          <span class="highlight-value">
            <%= @fobj.terms_of_use %>
          </span>
        </dd>
 
      </div>

  </div> <!-- object-content-wrapper -->

  <div id="druid-footer"><%= @fobj.pid %></div>

</div>
